.menu-wrapper {
  display: contents;
}
.menu-container1 {
  width: 100%;
  display: flex;
  position: relative;
}
.menu-navbar-interactive {
  flex: 1;
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-unit);
  justify-content: space-between;
}
.menu-navlink1 {
  display: contents;
}
.menu-logo {
  width: 62px;
  height: 64px;
  border-radius: var(--dl-radius-radius-round);
  text-decoration: none;
}
.menu-desktop-menu {
  display: flex;
}
.menu-nav1 {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.menu-navlink2 {
  font-size: 20px;
  text-decoration: none;
}
.menu-navlink3 {
  font-size: 18px;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.menu-btn-group {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.menu-login {
  border-color: #7289da;
  border-width: 1px;
  margin-right: var(--dl-space-space-twounits);
}
.menu-register {
  color: #ffffff;
  border-width: 1px;
  text-decoration: none;
  background-color: #7289da;
}
.menu-burger-menu {
  display: none;
  align-items: center;
  justify-content: center;
}
.menu-icon10 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.menu-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: fixed;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.menu-nav2 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.menu-container2 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.menu-image {
  height: 2rem;
  border-radius: var(--dl-radius-radius-round);
}
.menu-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu-icon12 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.menu-nav3 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.menu-navlink4 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.menu-navlink5 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.menu-container3 {
  flex: 0 0 auto;
  width: auto;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
}
.menu-icon-group {
  display: flex;
}
.menu-icon14 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.menu-icon16 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.menu-icon18 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.menuroot-class-name {
  width: 100%;
}
.menuroot-class-name1 {
  width: 100%;
}

@media (max-width: 1200px) {
  .menu-image {
    border-radius: var(--dl-radius-radius-round);
  }
}
@media (max-width: 991px) {
  .menu-image {
    border-radius: var(--dl-radius-radius-round);
  }
}
@media (max-width: 767px) {
  .menu-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .menu-desktop-menu {
    display: none;
  }
  .menu-navlink3 {
    margin-left: var(--dl-space-space-unit);
  }
  .menu-btn-group {
    display: none;
  }
  .menu-burger-menu {
    display: flex;
  }
  .menu-image {
    border-radius: var(--dl-radius-radius-round);
  }
}
@media (max-width: 479px) {
  .menu-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .menu-mobile-menu {
    padding: 16px;
  }
  .menu-image {
    border-radius: var(--dl-radius-radius-round);
  }
}

.privacy-wrapper {
  display: contents;
}
.privacy-container1 {
  gap: var(--dl-space-space-unit);
  display: flex;
  position: relative;
  align-items: center;
}
.privacy-container2 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.cyber-companion-fragment146 {
  display: contents;
}
.cyber-companion-text163 {
  display: inline-block;
}
.cyber-companion-fragment122 {
  display: contents;
}
.cyber-companion-text139 {
  display: inline-block;
}
.cyber-companion-fragment132 {
  display: contents;
}
.cyber-companion-text149 {
  display: inline-block;
}
.cyber-companion-fragment124 {
  display: contents;
}
.cyber-companion-text141 {
  display: inline-block;
}
.cyber-companion-fragment114 {
  display: contents;
}
.cyber-companion-text131 {
  display: inline-block;
}
.cyber-companion-fragment100 {
  display: contents;
}
.cyber-companion-text117 {
  display: inline-block;
}
.cyber-companion-fragment133 {
  display: contents;
}
.cyber-companion-text150 {
  display: inline-block;
}
.cyber-companion-fragment138 {
  display: contents;
}
.cyber-companion-text155 {
  display: inline-block;
}
.cyber-companion-fragment111 {
  display: contents;
}
.cyber-companion-text128 {
  display: inline-block;
}
.cyber-companion-fragment102 {
  display: contents;
}
.cyber-companion-text119 {
  display: inline-block;
}
.cyber-companion-fragment135 {
  display: contents;
}
.cyber-companion-text152 {
  display: inline-block;
}
.cyber-companion-fragment131 {
  display: contents;
}
.cyber-companion-text148 {
  display: inline-block;
}
.cyber-companion-fragment125 {
  display: contents;
}
.cyber-companion-text142 {
  display: inline-block;
}
.cyber-companion-fragment107 {
  display: contents;
}
.cyber-companion-text124 {
  display: inline-block;
}
.cyber-companion-fragment117 {
  display: contents;
}
.cyber-companion-text134 {
  display: inline-block;
}
.cyber-companion-fragment140 {
  display: contents;
}
.cyber-companion-text157 {
  display: inline-block;
}
.cyber-companion-fragment142 {
  display: contents;
}
.cyber-companion-text159 {
  display: inline-block;
}
.cyber-companion-fragment129 {
  display: contents;
}
.cyber-companion-text146 {
  display: inline-block;
}
.cyber-companion-fragment136 {
  display: contents;
}
.cyber-companion-text153 {
  display: inline-block;
}
.cyber-companion-fragment147 {
  display: contents;
}
.cyber-companion-text164 {
  display: inline-block;
}
.cyber-companion-fragment139 {
  display: contents;
}
.cyber-companion-text156 {
  display: inline-block;
}
.cyber-companion-fragment130 {
  display: contents;
}
.cyber-companion-text147 {
  display: inline-block;
}
.cyber-companion-fragment137 {
  display: contents;
}
.cyber-companion-text154 {
  display: inline-block;
}
.cyber-companion-fragment106 {
  display: contents;
}
.cyber-companion-text123 {
  display: inline-block;
}
.cyber-companion-fragment110 {
  display: contents;
}
.cyber-companion-text127 {
  display: inline-block;
}
.cyber-companion-fragment118 {
  display: contents;
}
.cyber-companion-text135 {
  display: inline-block;
}
.cyber-companion-fragment108 {
  display: contents;
}
.cyber-companion-text125 {
  display: inline-block;
}
.cyber-companion-fragment126 {
  display: contents;
}
.cyber-companion-text143 {
  display: inline-block;
}
.cyber-companion-fragment113 {
  display: contents;
}
.cyber-companion-text130 {
  display: inline-block;
}
.cyber-companion-fragment109 {
  display: contents;
}
.cyber-companion-text126 {
  display: inline-block;
}
.cyber-companion-fragment123 {
  display: contents;
}
.cyber-companion-text140 {
  display: inline-block;
}
.cyber-companion-fragment127 {
  display: contents;
}
.cyber-companion-text144 {
  display: inline-block;
}
.cyber-companion-fragment121 {
  display: contents;
}
.cyber-companion-text138 {
  display: inline-block;
}
.cyber-companion-fragment145 {
  display: contents;
}
.cyber-companion-text162 {
  display: inline-block;
}
.cyber-companion-fragment104 {
  display: contents;
}
.cyber-companion-text121 {
  display: inline-block;
}
.cyber-companion-fragment134 {
  display: contents;
}
.cyber-companion-text151 {
  display: inline-block;
}
.cyber-companion-fragment115 {
  display: contents;
}
.cyber-companion-text132 {
  display: inline-block;
}
.cyber-companion-fragment144 {
  display: contents;
}
.cyber-companion-text161 {
  display: inline-block;
}
.cyber-companion-fragment105 {
  display: contents;
}
.cyber-companion-text122 {
  display: inline-block;
}
.cyber-companion-fragment119 {
  display: contents;
}
.cyber-companion-text136 {
  display: inline-block;
}
.cyber-companion-fragment143 {
  display: contents;
}
.cyber-companion-text160 {
  display: inline-block;
}
.cyber-companion-fragment103 {
  display: contents;
}
.cyber-companion-text120 {
  display: inline-block;
}
.cyber-companion-fragment120 {
  display: contents;
}
.cyber-companion-text137 {
  display: inline-block;
}
.cyber-companion-fragment128 {
  display: contents;
}
.cyber-companion-text145 {
  display: inline-block;
}
.cyber-companion-fragment112 {
  display: contents;
}
.cyber-companion-text129 {
  display: inline-block;
}
.cyber-companion-fragment101 {
  display: contents;
}
.cyber-companion-text118 {
  display: inline-block;
}
.cyber-companion-fragment141 {
  display: contents;
}
.cyber-companion-text158 {
  display: inline-block;
}
.cyber-companion-fragment116 {
  display: contents;
}
.cyber-companion-text133 {
  display: inline-block;
}

.terms-wrapper {
  display: contents;
}
.terms-container1 {
  gap: var(--dl-space-space-unit);
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}
.terms-container2 {
  flex: 0 0 auto;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.terms-text101 {
  font-weight: 700;
}
.terms-text107 {
  font-weight: 700;
}
.terms-text111 {
  font-weight: 700;
}
.terms-text128 {
  font-weight: 700;
}
.terms-text153 {
  font-weight: 700;
}
.terms-text156 {
  font-weight: 700;
}
.terms-text159 {
  font-weight: 700;
}
.terms-text162 {
  font-weight: 700;
}
.terms-text165 {
  font-weight: 700;
}
.terms-text169 {
  font-weight: 700;
}
.cyber-companion-fragment179 {
  display: contents;
}
.cyber-companion-text196 {
  display: inline-block;
}
.cyber-companion-fragment152 {
  display: contents;
}
.cyber-companion-text169 {
  display: inline-block;
}
.cyber-companion-fragment197 {
  display: contents;
}
.cyber-companion-text214 {
  display: inline-block;
}
.cyber-companion-fragment187 {
  display: contents;
}
.cyber-companion-text204 {
  display: inline-block;
}
.cyber-companion-fragment162 {
  display: contents;
}
.cyber-companion-text179 {
  display: inline-block;
}
.cyber-companion-fragment178 {
  display: contents;
}
.cyber-companion-text195 {
  display: inline-block;
}
.cyber-companion-fragment168 {
  display: contents;
}
.cyber-companion-text185 {
  display: inline-block;
}
.cyber-companion-fragment175 {
  display: contents;
}
.cyber-companion-text192 {
  display: inline-block;
}
.cyber-companion-fragment156 {
  display: contents;
}
.cyber-companion-text173 {
  display: inline-block;
}
.cyber-companion-fragment184 {
  display: contents;
}
.cyber-companion-text201 {
  display: inline-block;
}
.cyber-companion-fragment157 {
  display: contents;
}
.cyber-companion-text174 {
  display: inline-block;
}
.cyber-companion-fragment214 {
  display: contents;
}
.cyber-companion-text240 {
  display: inline-block;
}
.cyber-companion-text241 {
  font-weight: 700;
}
.cyber-companion-fragment213 {
  display: contents;
}
.cyber-companion-text238 {
  display: inline-block;
}
.cyber-companion-text239 {
  font-weight: 700;
}
.cyber-companion-fragment191 {
  display: contents;
}
.cyber-companion-text208 {
  display: inline-block;
}
.cyber-companion-fragment200 {
  display: contents;
}
.cyber-companion-text217 {
  display: inline-block;
}
.cyber-companion-fragment201 {
  display: contents;
}
.cyber-companion-text218 {
  display: inline-block;
}
.cyber-companion-fragment198 {
  display: contents;
}
.cyber-companion-text215 {
  display: inline-block;
}
.cyber-companion-fragment193 {
  display: contents;
}
.cyber-companion-text210 {
  display: inline-block;
}
.cyber-companion-fragment205 {
  display: contents;
}
.cyber-companion-text222 {
  display: inline-block;
}
.cyber-companion-text223 {
  font-weight: 700;
}
.cyber-companion-fragment153 {
  display: contents;
}
.cyber-companion-text170 {
  display: inline-block;
}
.cyber-companion-fragment186 {
  display: contents;
}
.cyber-companion-text203 {
  display: inline-block;
}
.cyber-companion-fragment209 {
  display: contents;
}
.cyber-companion-text230 {
  display: inline-block;
}
.cyber-companion-text231 {
  font-weight: 700;
}
.cyber-companion-fragment210 {
  display: contents;
}
.cyber-companion-text232 {
  display: inline-block;
}
.cyber-companion-text233 {
  font-weight: 700;
}
.cyber-companion-fragment169 {
  display: contents;
}
.cyber-companion-text186 {
  display: inline-block;
}
.cyber-companion-fragment208 {
  display: contents;
}
.cyber-companion-text228 {
  display: inline-block;
}
.cyber-companion-text229 {
  font-weight: 700;
}
.cyber-companion-fragment181 {
  display: contents;
}
.cyber-companion-text198 {
  display: inline-block;
}
.cyber-companion-fragment170 {
  display: contents;
}
.cyber-companion-text187 {
  display: inline-block;
}
.cyber-companion-fragment163 {
  display: contents;
}
.cyber-companion-text180 {
  display: inline-block;
}
.cyber-companion-fragment172 {
  display: contents;
}
.cyber-companion-text189 {
  display: inline-block;
}
.cyber-companion-fragment188 {
  display: contents;
}
.cyber-companion-text205 {
  display: inline-block;
}
.cyber-companion-fragment207 {
  display: contents;
}
.cyber-companion-text226 {
  display: inline-block;
}
.cyber-companion-text227 {
  font-weight: 700;
}
.cyber-companion-fragment206 {
  display: contents;
}
.cyber-companion-text224 {
  display: inline-block;
}
.cyber-companion-text225 {
  font-weight: 700;
}
.cyber-companion-fragment158 {
  display: contents;
}
.cyber-companion-text175 {
  display: inline-block;
}
.cyber-companion-fragment148 {
  display: contents;
}
.cyber-companion-text165 {
  display: inline-block;
}
.cyber-companion-fragment199 {
  display: contents;
}
.cyber-companion-text216 {
  display: inline-block;
}
.cyber-companion-fragment196 {
  display: contents;
}
.cyber-companion-text213 {
  display: inline-block;
}
.cyber-companion-fragment174 {
  display: contents;
}
.cyber-companion-text191 {
  display: inline-block;
}
.cyber-companion-fragment171 {
  display: contents;
}
.cyber-companion-text188 {
  display: inline-block;
}
.cyber-companion-fragment176 {
  display: contents;
}
.cyber-companion-text193 {
  display: inline-block;
}
.cyber-companion-fragment161 {
  display: contents;
}
.cyber-companion-text178 {
  display: inline-block;
}
.cyber-companion-fragment155 {
  display: contents;
}
.cyber-companion-text172 {
  display: inline-block;
}
.cyber-companion-fragment154 {
  display: contents;
}
.cyber-companion-text171 {
  display: inline-block;
}
.cyber-companion-fragment149 {
  display: contents;
}
.cyber-companion-text166 {
  display: inline-block;
}
.cyber-companion-fragment164 {
  display: contents;
}
.cyber-companion-text181 {
  display: inline-block;
}
.cyber-companion-fragment167 {
  display: contents;
}
.cyber-companion-text184 {
  display: inline-block;
}
.cyber-companion-fragment173 {
  display: contents;
}
.cyber-companion-text190 {
  display: inline-block;
}
.cyber-companion-fragment190 {
  display: contents;
}
.cyber-companion-text207 {
  display: inline-block;
}
.cyber-companion-fragment183 {
  display: contents;
}
.cyber-companion-text200 {
  display: inline-block;
}
.cyber-companion-fragment177 {
  display: contents;
}
.cyber-companion-text194 {
  display: inline-block;
}
.cyber-companion-fragment150 {
  display: contents;
}
.cyber-companion-text167 {
  display: inline-block;
}
.cyber-companion-fragment212 {
  display: contents;
}
.cyber-companion-text236 {
  display: inline-block;
}
.cyber-companion-text237 {
  font-weight: 700;
}
.cyber-companion-fragment160 {
  display: contents;
}
.cyber-companion-text177 {
  display: inline-block;
}
.cyber-companion-fragment204 {
  display: contents;
}
.cyber-companion-text221 {
  display: inline-block;
}
.cyber-companion-fragment203 {
  display: contents;
}
.cyber-companion-text220 {
  display: inline-block;
}
.cyber-companion-fragment194 {
  display: contents;
}
.cyber-companion-text211 {
  display: inline-block;
}
.cyber-companion-fragment189 {
  display: contents;
}
.cyber-companion-text206 {
  display: inline-block;
}
.cyber-companion-fragment180 {
  display: contents;
}
.cyber-companion-text197 {
  display: inline-block;
}
.cyber-companion-fragment182 {
  display: contents;
}
.cyber-companion-text199 {
  display: inline-block;
}
.cyber-companion-fragment195 {
  display: contents;
}
.cyber-companion-text212 {
  display: inline-block;
}
.cyber-companion-fragment166 {
  display: contents;
}
.cyber-companion-text183 {
  display: inline-block;
}
.cyber-companion-fragment151 {
  display: contents;
}
.cyber-companion-text168 {
  display: inline-block;
}
.cyber-companion-fragment159 {
  display: contents;
}
.cyber-companion-text176 {
  display: inline-block;
}
.cyber-companion-fragment211 {
  display: contents;
}
.cyber-companion-text234 {
  display: inline-block;
}
.cyber-companion-text235 {
  font-weight: 700;
}
.cyber-companion-fragment192 {
  display: contents;
}
.cyber-companion-text209 {
  display: inline-block;
}
.cyber-companion-fragment202 {
  display: contents;
}
.cyber-companion-text219 {
  display: inline-block;
}
.cyber-companion-fragment185 {
  display: contents;
}
.cyber-companion-text202 {
  display: inline-block;
}
.cyber-companion-fragment165 {
  display: contents;
}
.cyber-companion-text182 {
  display: inline-block;
}

.separator-wrapper {
  display: contents;
}
.separator-container {
  display: flex;
  position: relative;
}
.separator-separator {
  align-self: center;
  font-style: normal;
  font-weight: 700;
}

@media (max-width: 767px) {
  .separator-separator {
    text-align: center;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
}
@media (max-width: 479px) {
  .separator-separator {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
}

.separator-wrapper-1qg7 {
  display: contents;
}
.separator-container1 {
  display: flex;
  position: relative;
}
.separator-separator1 {
  align-self: center;
  font-style: normal;
  font-weight: 700;
}

@media (max-width: 767px) {
  .separator-separator1 {
    text-align: center;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
}
@media (max-width: 479px) {
  .separator-separator1 {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
}

.separator-wrapper-0kef {
  display: contents;
}
.separator-container2 {
  display: flex;
  position: relative;
}
.separator-separator2 {
  align-self: center;
  font-style: normal;
  font-weight: 700;
}

@media (max-width: 767px) {
  .separator-separator2 {
    text-align: center;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
}
@media (max-width: 479px) {
  .separator-separator2 {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
}

.footer-wrapper {
  display: contents;
}
.footer-footer {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-unit);
  justify-content: space-between;
}
.footer-navlink1 {
  display: contents;
}
.footer-profil {
  height: 2rem;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-round);
  text-decoration: none;
}
.footer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer-text2 {
  color: #ff0101;
}
.footer-status {
  align-self: center;
  text-decoration: none;
}
.footer-raccourci-menu {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.footer-navlink2 {
  display: contents;
}
.footer-home {
  width: 40px;
  object-fit: cover;
  margin-right: var(--dl-space-space-unit);
  text-decoration: none;
}
.footer-link {
  display: contents;
}
.footer-github {
  width: 40px;
  height: auto;
  object-fit: cover;
  text-decoration: none;
}

@media (max-width: 767px) {
  .footer-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .footer-made {
    text-align: center;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
  .footer-text1 {
    text-align: center;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
  .footer-text2 {
    text-align: center;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
  .footer-text3 {
    text-align: center;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
  .footer-copyright {
    text-align: center;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
  .footer-rights {
    text-align: center;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
  .footer-status {
    text-align: center;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
}
@media (max-width: 479px) {
  .footer-footer {
    padding: var(--dl-space-space-unit);
    flex-direction: column;
  }
  .footer-profil {
    margin-bottom: var(--dl-space-space-unit);
  }
  .footer-made {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
  .footer-text1 {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
  .footer-text2 {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
  .footer-text3 {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
  .footer-copyright {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
  .footer-rights {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
  .footer-status {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
}

.cyber-companion-container1 {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.cyber-companion-features {
  flex: 1;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  position: relative;
  flex-direction: column;
  background-size: auto;
  background-image: url("public/cybercompanion/cybercompanionbanner-1500w.gif");
  background-repeat: repeat;
  background-position: center;
}
.cyber-companion-text100 {
  padding: var(--dl-space-space-oneandhalfunits);
  font-size: 3rem;
  box-shadow: rgb(212, 212, 212) 5px 5px 10px 0px;
  border-radius: var(--dl-radius-radius-radius8);
  margin-bottom: var(--dl-space-space-twounits);
  background-color: rgb(255, 255, 255);
}
.cyber-companion-separator1 {
  width: 100px;
  height: 2px;
  background-color: var(--dl-color-gray-500);
}
.cyber-companion-link {
  color: #ffffff;
  align-self: stretch;
  text-align: center;
  border-color: #7289da;
  text-decoration: none;
  background-color: rgba(114, 137, 218, 0.68);
}
.cyber-companion-text105 {
  font-size: 30px;
}
.cyber-companion-text107 {
  color: var(--dl-color-gray-black);
  font-style: normal;
  font-weight: 700;
}
.cyber-companion-separator2 {
  width: 100px;
  height: 2px;
  background-color: var(--dl-color-gray-500);
}
.cyber-companion-container2 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  margin-top: var(--dl-space-space-twounits);
  align-items: center;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: row;
  justify-content: space-between;
  background-color: #ffffff;
}
.cyber-companion-container3 {
  display: grid;
  margin-left: var(--dl-space-space-twounits);
  grid-template-columns: 1fr 1fr;
}
.cyber-companion-feature-card1 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: flex-start;
}
.cyber-companion-container4 {
  flex: 0 0 auto;
  width: auto;
  height: 2rem;
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  justify-content: flex-start;
}
.cyber-companion-image1 {
  width: 35px;
  object-fit: cover;
}
.cyber-companion-text109 {
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  margin: auto;
  position: absolute;
  text-align: center;
  font-weight: 600;
}
.cyber-companion-text110 {
  color: var(--dl-color-gray-700);
  margin-top: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-unit);
}
.cyber-companion-feature-card2 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.cyber-companion-container5 {
  flex: 0 0 auto;
  width: auto;
  height: 2rem;
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  justify-content: flex-start;
}
.cyber-companion-image2 {
  width: 35px;
  object-fit: cover;
}
.cyber-companion-text111 {
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  margin: auto;
  position: absolute;
  text-align: center;
  font-weight: 600;
}
.cyber-companion-text112 {
  color: var(--dl-color-gray-700);
  margin-top: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-unit);
}
.cyber-companion-feature-card3 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.cyber-companion-container6 {
  flex: 0 0 auto;
  width: auto;
  height: 2rem;
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  justify-content: flex-start;
}
.cyber-companion-image3 {
  width: 35px;
  object-fit: cover;
}
.cyber-companion-text113 {
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  margin: auto;
  position: absolute;
  text-align: center;
  font-weight: 600;
}
.cyber-companion-text114 {
  color: var(--dl-color-gray-700);
  margin-top: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-unit);
}
.cyber-companion-feature-card4 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.cyber-companion-container7 {
  flex: 0 0 auto;
  width: auto;
  height: 2rem;
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  justify-content: flex-start;
}
.cyber-companion-image4 {
  width: 35px;
  object-fit: cover;
}
.cyber-companion-text115 {
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  margin: auto;
  position: absolute;
  text-align: center;
  font-weight: 600;
}
.cyber-companion-text116 {
  color: var(--dl-color-gray-700);
  margin-top: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-unit);
}
.cyber-companion-image5 {
  flex: 1;
  width: auto;
  height: auto;
  object-fit: cover;
  flex-shrink: 0;
  margin-left: var(--dl-space-space-twounits);
  margin-right: var(--dl-space-space-twounits);
  border-radius: var(--dl-radius-radius-round);
  margin-bottom: var(--dl-space-space-twounits);
  object-position: left;
}
.cyber-companion-fragment100 {
  display: contents;
}
.cyber-companion-text117 {
  display: inline-block;
}
.cyber-companion-fragment101 {
  display: contents;
}
.cyber-companion-text118 {
  display: inline-block;
}
.cyber-companion-fragment102 {
  display: contents;
}
.cyber-companion-text119 {
  display: inline-block;
}
.cyber-companion-fragment103 {
  display: contents;
}
.cyber-companion-text120 {
  display: inline-block;
}
.cyber-companion-fragment104 {
  display: contents;
}
.cyber-companion-text121 {
  display: inline-block;
}
.cyber-companion-fragment105 {
  display: contents;
}
.cyber-companion-text122 {
  display: inline-block;
}
.cyber-companion-fragment106 {
  display: contents;
}
.cyber-companion-text123 {
  display: inline-block;
}
.cyber-companion-fragment107 {
  display: contents;
}
.cyber-companion-text124 {
  display: inline-block;
}
.cyber-companion-fragment108 {
  display: contents;
}
.cyber-companion-text125 {
  display: inline-block;
}
.cyber-companion-fragment109 {
  display: contents;
}
.cyber-companion-text126 {
  display: inline-block;
}
.cyber-companion-fragment110 {
  display: contents;
}
.cyber-companion-text127 {
  display: inline-block;
}
.cyber-companion-fragment111 {
  display: contents;
}
.cyber-companion-text128 {
  display: inline-block;
}
.cyber-companion-fragment112 {
  display: contents;
}
.cyber-companion-text129 {
  display: inline-block;
}
.cyber-companion-fragment113 {
  display: contents;
}
.cyber-companion-text130 {
  display: inline-block;
}
.cyber-companion-fragment114 {
  display: contents;
}
.cyber-companion-text131 {
  display: inline-block;
}
.cyber-companion-fragment115 {
  display: contents;
}
.cyber-companion-text132 {
  display: inline-block;
}
.cyber-companion-fragment116 {
  display: contents;
}
.cyber-companion-text133 {
  display: inline-block;
}
.cyber-companion-fragment117 {
  display: contents;
}
.cyber-companion-text134 {
  display: inline-block;
}
.cyber-companion-fragment118 {
  display: contents;
}
.cyber-companion-text135 {
  display: inline-block;
}
.cyber-companion-fragment119 {
  display: contents;
}
.cyber-companion-text136 {
  display: inline-block;
}
.cyber-companion-fragment120 {
  display: contents;
}
.cyber-companion-text137 {
  display: inline-block;
}
.cyber-companion-fragment121 {
  display: contents;
}
.cyber-companion-text138 {
  display: inline-block;
}
.cyber-companion-fragment122 {
  display: contents;
}
.cyber-companion-text139 {
  display: inline-block;
}
.cyber-companion-fragment123 {
  display: contents;
}
.cyber-companion-text140 {
  display: inline-block;
}
.cyber-companion-fragment124 {
  display: contents;
}
.cyber-companion-text141 {
  display: inline-block;
}
.cyber-companion-fragment125 {
  display: contents;
}
.cyber-companion-text142 {
  display: inline-block;
}
.cyber-companion-fragment126 {
  display: contents;
}
.cyber-companion-text143 {
  display: inline-block;
}
.cyber-companion-fragment127 {
  display: contents;
}
.cyber-companion-text144 {
  display: inline-block;
}
.cyber-companion-fragment128 {
  display: contents;
}
.cyber-companion-text145 {
  display: inline-block;
}
.cyber-companion-fragment129 {
  display: contents;
}
.cyber-companion-text146 {
  display: inline-block;
}
.cyber-companion-fragment130 {
  display: contents;
}
.cyber-companion-text147 {
  display: inline-block;
}
.cyber-companion-fragment131 {
  display: contents;
}
.cyber-companion-text148 {
  display: inline-block;
}
.cyber-companion-fragment132 {
  display: contents;
}
.cyber-companion-text149 {
  display: inline-block;
}
.cyber-companion-fragment133 {
  display: contents;
}
.cyber-companion-text150 {
  display: inline-block;
}
.cyber-companion-fragment134 {
  display: contents;
}
.cyber-companion-text151 {
  display: inline-block;
}
.cyber-companion-fragment135 {
  display: contents;
}
.cyber-companion-text152 {
  display: inline-block;
}
.cyber-companion-fragment136 {
  display: contents;
}
.cyber-companion-text153 {
  display: inline-block;
}
.cyber-companion-fragment137 {
  display: contents;
}
.cyber-companion-text154 {
  display: inline-block;
}
.cyber-companion-fragment138 {
  display: contents;
}
.cyber-companion-text155 {
  display: inline-block;
}
.cyber-companion-fragment139 {
  display: contents;
}
.cyber-companion-text156 {
  display: inline-block;
}
.cyber-companion-fragment140 {
  display: contents;
}
.cyber-companion-text157 {
  display: inline-block;
}
.cyber-companion-fragment141 {
  display: contents;
}
.cyber-companion-text158 {
  display: inline-block;
}
.cyber-companion-fragment142 {
  display: contents;
}
.cyber-companion-text159 {
  display: inline-block;
}
.cyber-companion-fragment143 {
  display: contents;
}
.cyber-companion-text160 {
  display: inline-block;
}
.cyber-companion-fragment144 {
  display: contents;
}
.cyber-companion-text161 {
  display: inline-block;
}
.cyber-companion-fragment145 {
  display: contents;
}
.cyber-companion-text162 {
  display: inline-block;
}
.cyber-companion-fragment146 {
  display: contents;
}
.cyber-companion-text163 {
  display: inline-block;
}
.cyber-companion-fragment147 {
  display: contents;
}
.cyber-companion-text164 {
  display: inline-block;
}
.cyber-companion-fragment148 {
  display: contents;
}
.cyber-companion-text165 {
  display: inline-block;
}
.cyber-companion-fragment149 {
  display: contents;
}
.cyber-companion-text166 {
  display: inline-block;
}
.cyber-companion-fragment150 {
  display: contents;
}
.cyber-companion-text167 {
  display: inline-block;
}
.cyber-companion-fragment151 {
  display: contents;
}
.cyber-companion-text168 {
  display: inline-block;
}
.cyber-companion-fragment152 {
  display: contents;
}
.cyber-companion-text169 {
  display: inline-block;
}
.cyber-companion-fragment153 {
  display: contents;
}
.cyber-companion-text170 {
  display: inline-block;
}
.cyber-companion-fragment154 {
  display: contents;
}
.cyber-companion-text171 {
  display: inline-block;
}
.cyber-companion-fragment155 {
  display: contents;
}
.cyber-companion-text172 {
  display: inline-block;
}
.cyber-companion-fragment156 {
  display: contents;
}
.cyber-companion-text173 {
  display: inline-block;
}
.cyber-companion-fragment157 {
  display: contents;
}
.cyber-companion-text174 {
  display: inline-block;
}
.cyber-companion-fragment158 {
  display: contents;
}
.cyber-companion-text175 {
  display: inline-block;
}
.cyber-companion-fragment159 {
  display: contents;
}
.cyber-companion-text176 {
  display: inline-block;
}
.cyber-companion-fragment160 {
  display: contents;
}
.cyber-companion-text177 {
  display: inline-block;
}
.cyber-companion-fragment161 {
  display: contents;
}
.cyber-companion-text178 {
  display: inline-block;
}
.cyber-companion-fragment162 {
  display: contents;
}
.cyber-companion-text179 {
  display: inline-block;
}
.cyber-companion-fragment163 {
  display: contents;
}
.cyber-companion-text180 {
  display: inline-block;
}
.cyber-companion-fragment164 {
  display: contents;
}
.cyber-companion-text181 {
  display: inline-block;
}
.cyber-companion-fragment165 {
  display: contents;
}
.cyber-companion-text182 {
  display: inline-block;
}
.cyber-companion-fragment166 {
  display: contents;
}
.cyber-companion-text183 {
  display: inline-block;
}
.cyber-companion-fragment167 {
  display: contents;
}
.cyber-companion-text184 {
  display: inline-block;
}
.cyber-companion-fragment168 {
  display: contents;
}
.cyber-companion-text185 {
  display: inline-block;
}
.cyber-companion-fragment169 {
  display: contents;
}
.cyber-companion-text186 {
  display: inline-block;
}
.cyber-companion-fragment170 {
  display: contents;
}
.cyber-companion-text187 {
  display: inline-block;
}
.cyber-companion-fragment171 {
  display: contents;
}
.cyber-companion-text188 {
  display: inline-block;
}
.cyber-companion-fragment172 {
  display: contents;
}
.cyber-companion-text189 {
  display: inline-block;
}
.cyber-companion-fragment173 {
  display: contents;
}
.cyber-companion-text190 {
  display: inline-block;
}
.cyber-companion-fragment174 {
  display: contents;
}
.cyber-companion-text191 {
  display: inline-block;
}
.cyber-companion-fragment175 {
  display: contents;
}
.cyber-companion-text192 {
  display: inline-block;
}
.cyber-companion-fragment176 {
  display: contents;
}
.cyber-companion-text193 {
  display: inline-block;
}
.cyber-companion-fragment177 {
  display: contents;
}
.cyber-companion-text194 {
  display: inline-block;
}
.cyber-companion-fragment178 {
  display: contents;
}
.cyber-companion-text195 {
  display: inline-block;
}
.cyber-companion-fragment179 {
  display: contents;
}
.cyber-companion-text196 {
  display: inline-block;
}
.cyber-companion-fragment180 {
  display: contents;
}
.cyber-companion-text197 {
  display: inline-block;
}
.cyber-companion-fragment181 {
  display: contents;
}
.cyber-companion-text198 {
  display: inline-block;
}
.cyber-companion-fragment182 {
  display: contents;
}
.cyber-companion-text199 {
  display: inline-block;
}
.cyber-companion-fragment183 {
  display: contents;
}
.cyber-companion-text200 {
  display: inline-block;
}
.cyber-companion-fragment184 {
  display: contents;
}
.cyber-companion-text201 {
  display: inline-block;
}
.cyber-companion-fragment185 {
  display: contents;
}
.cyber-companion-text202 {
  display: inline-block;
}
.cyber-companion-fragment186 {
  display: contents;
}
.cyber-companion-text203 {
  display: inline-block;
}
.cyber-companion-fragment187 {
  display: contents;
}
.cyber-companion-text204 {
  display: inline-block;
}
.cyber-companion-fragment188 {
  display: contents;
}
.cyber-companion-text205 {
  display: inline-block;
}
.cyber-companion-fragment189 {
  display: contents;
}
.cyber-companion-text206 {
  display: inline-block;
}
.cyber-companion-fragment190 {
  display: contents;
}
.cyber-companion-text207 {
  display: inline-block;
}
.cyber-companion-fragment191 {
  display: contents;
}
.cyber-companion-text208 {
  display: inline-block;
}
.cyber-companion-fragment192 {
  display: contents;
}
.cyber-companion-text209 {
  display: inline-block;
}
.cyber-companion-fragment193 {
  display: contents;
}
.cyber-companion-text210 {
  display: inline-block;
}
.cyber-companion-fragment194 {
  display: contents;
}
.cyber-companion-text211 {
  display: inline-block;
}
.cyber-companion-fragment195 {
  display: contents;
}
.cyber-companion-text212 {
  display: inline-block;
}
.cyber-companion-fragment196 {
  display: contents;
}
.cyber-companion-text213 {
  display: inline-block;
}
.cyber-companion-fragment197 {
  display: contents;
}
.cyber-companion-text214 {
  display: inline-block;
}
.cyber-companion-fragment198 {
  display: contents;
}
.cyber-companion-text215 {
  display: inline-block;
}
.cyber-companion-fragment199 {
  display: contents;
}
.cyber-companion-text216 {
  display: inline-block;
}
.cyber-companion-fragment200 {
  display: contents;
}
.cyber-companion-text217 {
  display: inline-block;
}
.cyber-companion-fragment201 {
  display: contents;
}
.cyber-companion-text218 {
  display: inline-block;
}
.cyber-companion-fragment202 {
  display: contents;
}
.cyber-companion-text219 {
  display: inline-block;
}
.cyber-companion-fragment203 {
  display: contents;
}
.cyber-companion-text220 {
  display: inline-block;
}
.cyber-companion-fragment204 {
  display: contents;
}
.cyber-companion-text221 {
  display: inline-block;
}
.cyber-companion-fragment205 {
  display: contents;
}
.cyber-companion-text222 {
  display: inline-block;
}
.cyber-companion-text223 {
  font-weight: 700;
}
.cyber-companion-fragment206 {
  display: contents;
}
.cyber-companion-text224 {
  display: inline-block;
}
.cyber-companion-text225 {
  font-weight: 700;
}
.cyber-companion-fragment207 {
  display: contents;
}
.cyber-companion-text226 {
  display: inline-block;
}
.cyber-companion-text227 {
  font-weight: 700;
}
.cyber-companion-fragment208 {
  display: contents;
}
.cyber-companion-text228 {
  display: inline-block;
}
.cyber-companion-text229 {
  font-weight: 700;
}
.cyber-companion-fragment209 {
  display: contents;
}
.cyber-companion-text230 {
  display: inline-block;
}
.cyber-companion-text231 {
  font-weight: 700;
}
.cyber-companion-fragment210 {
  display: contents;
}
.cyber-companion-text232 {
  display: inline-block;
}
.cyber-companion-text233 {
  font-weight: 700;
}
.cyber-companion-fragment211 {
  display: contents;
}
.cyber-companion-text234 {
  display: inline-block;
}
.cyber-companion-text235 {
  font-weight: 700;
}
.cyber-companion-fragment212 {
  display: contents;
}
.cyber-companion-text236 {
  display: inline-block;
}
.cyber-companion-text237 {
  font-weight: 700;
}
.cyber-companion-fragment213 {
  display: contents;
}
.cyber-companion-text238 {
  display: inline-block;
}
.cyber-companion-text239 {
  font-weight: 700;
}
.cyber-companion-fragment214 {
  display: contents;
}
.cyber-companion-text240 {
  display: inline-block;
}
.cyber-companion-text241 {
  font-weight: 700;
}
@media (max-width: 991px) {
  .cyber-companion-features {
    align-items: center;
  }
  .cyber-companion-text100 {
    align-self: stretch;
  }
  .cyber-companion-container2 {
    flex-direction: column;
  }
  .cyber-companion-container3 {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-left: var(--dl-space-space-twounits);
    margin-right: var(--dl-space-space-twounits);
  }
  .cyber-companion-image5 {
    flex: 0 0 auto;
    width: var(--dl-size-size-xlarge);
    margin-bottom: var(--dl-space-space-twounits);
  }
}
@media (max-width: 767px) {
  .cyber-companion-features {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .cyber-companion-text100 {
    font-size: 2em;
    text-align: center;
  }
  .cyber-companion-container2 {
    flex-direction: column;
  }
  .cyber-companion-image5 {
    width: var(--dl-size-size-large);
  }
}
@media (max-width: 479px) {
  .cyber-companion-features {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .cyber-companion-text100 {
    padding: var(--dl-space-space-halfunit);
    font-size: 1.5em;
    box-shadow: rgb(212, 212, 212) 5px 5px 10px 0px;
    background-color: rgb(255, 255, 255);
  }
  .cyber-companion-text105 {
    font-size: 20px;
  }
  .cyber-companion-container3 {
    margin-top: var(--dl-space-space-halfunit);
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
    grid-template-columns: 1fr;
  }
  .cyber-companion-text109 {
    font-style: normal;
    font-weight: 600;
  }
  .cyber-companion-text111 {
    font-style: normal;
    font-weight: 600;
  }
  .cyber-companion-text113 {
    font-style: normal;
    font-weight: 600;
  }
  .cyber-companion-text115 {
    font-style: normal;
    font-weight: 600;
  }
  .cyber-companion-image5 {
    width: 250px;
    height: 250px;
  }
}
