.menu-container09 {
  width: 100%;
  display: flex;
  position: relative;
}
.menu-navbar-interactive {
  flex: 1;
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-unit);
  justify-content: space-between;
}
.menu-navlink09 {
  display: contents;
}
.menu-logo {
  width: 62px;
  height: 64px;
  border-radius: var(--dl-radius-radius-round);
  text-decoration: none;
}
.menu-desktop-menu {
  display: flex;
}
.menu-nav3 {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.menu-navlink10 {
  font-size: 20px;
  text-decoration: none;
}
.menu-navlink11 {
  font-size: 18px;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.menu-btn-group {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.menu-login {
  border-color: #7289da;
  border-width: 1px;
  margin-right: var(--dl-space-space-twounits);
}
.menu-register {
  color: #ffffff;
  border-width: 1px;
  text-decoration: none;
  background-color: #7289da;
}
.menu-burger-menu {
  display: none;
  align-items: center;
  justify-content: center;
}
.menu-icon10 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.menu-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: fixed;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.menu-nav4 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.menu-container10 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.menu-image {
  height: 2rem;
  border-radius: var(--dl-radius-radius-round);
}
.menu-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu-icon12 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.menu-nav5 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.menu-navlink12 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.menu-navlink13 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.menu-container11 {
  flex: 0 0 auto;
  width: auto;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
}
.menu-icon-group {
  display: flex;
}
.menu-icon14 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.menu-icon16 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.menu-icon18 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.menu-root-class-name {
  width: 100%;
}
.menu-root-class-name1 {
  width: 100%;
}



@media(max-width: 1200px) {
  .menu-image {
    border-radius: var(--dl-radius-radius-round);
  }
}
@media(max-width: 991px) {
  .menu-image {
    border-radius: var(--dl-radius-radius-round);
  }
}
@media(max-width: 767px) {
  .menu-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .menu-desktop-menu {
    display: none;
  }
  .menu-navlink11 {
    margin-left: var(--dl-space-space-unit);
  }
  .menu-btn-group {
    display: none;
  }
  .menu-burger-menu {
    display: flex;
  }
  .menu-image {
    border-radius: var(--dl-radius-radius-round);
  }
}
@media(max-width: 479px) {
  .menu-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .menu-mobile-menu {
    padding: 16px;
  }
  .menu-image {
    border-radius: var(--dl-radius-radius-round);
  }
}

.privacy-container13 {
  gap: var(--dl-space-space-unit);
  display: flex;
  position: relative;
  align-items: center;
}
.privacy-container14 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.privacy-text017 {
  display: inline-block;
}
.privacy-text018 {
  display: inline-block;
}
.privacy-text019 {
  display: inline-block;
}
.privacy-text020 {
  display: inline-block;
}
.privacy-text021 {
  display: inline-block;
}
.privacy-text022 {
  display: inline-block;
}
.privacy-text023 {
  display: inline-block;
}
.privacy-text024 {
  display: inline-block;
}
.privacy-text025 {
  display: inline-block;
}
.privacy-text026 {
  display: inline-block;
}
.privacy-text027 {
  display: inline-block;
}
.privacy-text028 {
  display: inline-block;
}
.privacy-text029 {
  display: inline-block;
}
.privacy-text030 {
  display: inline-block;
}
.privacy-text031 {
  display: inline-block;
}
.privacy-text032 {
  display: inline-block;
}
.privacy-text033 {
  display: inline-block;
}
.privacy-text034 {
  display: inline-block;
}
.privacy-text035 {
  display: inline-block;
}
.privacy-text036 {
  display: inline-block;
}
.privacy-text037 {
  display: inline-block;
}
.privacy-text038 {
  display: inline-block;
}
.privacy-text039 {
  display: inline-block;
}
.privacy-text040 {
  display: inline-block;
}
.privacy-text041 {
  display: inline-block;
}
.privacy-text042 {
  display: inline-block;
}
.privacy-text043 {
  display: inline-block;
}
.privacy-text044 {
  display: inline-block;
}
.privacy-text045 {
  display: inline-block;
}
.privacy-text046 {
  display: inline-block;
}
.privacy-text047 {
  display: inline-block;
}
.privacy-text048 {
  display: inline-block;
}
.privacy-text049 {
  display: inline-block;
}
.privacy-text050 {
  display: inline-block;
}
.privacy-text051 {
  display: inline-block;
}
.privacy-text052 {
  display: inline-block;
}
.privacy-text053 {
  display: inline-block;
}
.privacy-text054 {
  display: inline-block;
}
.privacy-text055 {
  display: inline-block;
}
.privacy-text056 {
  display: inline-block;
}
.privacy-text057 {
  display: inline-block;
}
.privacy-text058 {
  display: inline-block;
}
.privacy-text059 {
  display: inline-block;
}
.privacy-text060 {
  display: inline-block;
}
.privacy-text061 {
  display: inline-block;
}
.privacy-text062 {
  display: inline-block;
}
.privacy-text063 {
  display: inline-block;
}
.privacy-text064 {
  display: inline-block;
}


.terms-container15 {
  gap: var(--dl-space-space-unit);
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}
.terms-container16 {
  flex: 0 0 auto;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.terms-text363 {
  font-weight: 700;
}
.terms-text369 {
  font-weight: 700;
}
.terms-text373 {
  font-weight: 700;
}
.terms-text390 {
  font-weight: 700;
}
.terms-text415 {
  font-weight: 700;
}
.terms-text418 {
  font-weight: 700;
}
.terms-text421 {
  font-weight: 700;
}
.terms-text424 {
  font-weight: 700;
}
.terms-text427 {
  font-weight: 700;
}
.terms-text431 {
  font-weight: 700;
}
.terms-text065 {
  display: inline-block;
}
.terms-text066 {
  font-weight: 700;
}
.terms-text067 {
  display: inline-block;
}
.terms-text068 {
  display: inline-block;
}
.terms-text069 {
  display: inline-block;
}
.terms-text070 {
  display: inline-block;
}
.terms-text071 {
  display: inline-block;
}
.terms-text072 {
  font-weight: 700;
}
.terms-text073 {
  display: inline-block;
}
.terms-text074 {
  display: inline-block;
}
.terms-text075 {
  display: inline-block;
}
.terms-text076 {
  font-weight: 700;
}
.terms-text077 {
  display: inline-block;
}
.terms-text078 {
  display: inline-block;
}
.terms-text079 {
  display: inline-block;
}
.terms-text080 {
  display: inline-block;
}
.terms-text081 {
  display: inline-block;
}
.terms-text082 {
  display: inline-block;
}
.terms-text083 {
  display: inline-block;
}
.terms-text084 {
  display: inline-block;
}
.terms-text085 {
  display: inline-block;
}
.terms-text086 {
  display: inline-block;
}
.terms-text087 {
  display: inline-block;
}
.terms-text088 {
  display: inline-block;
}
.terms-text089 {
  display: inline-block;
}
.terms-text090 {
  display: inline-block;
}
.terms-text091 {
  display: inline-block;
}
.terms-text092 {
  display: inline-block;
}
.terms-text093 {
  font-weight: 700;
}
.terms-text094 {
  display: inline-block;
}
.terms-text095 {
  display: inline-block;
}
.terms-text096 {
  display: inline-block;
}
.terms-text097 {
  display: inline-block;
}
.terms-text098 {
  display: inline-block;
}
.terms-text099 {
  display: inline-block;
}
.terms-text100 {
  display: inline-block;
}
.terms-text101 {
  display: inline-block;
}
.terms-text102 {
  display: inline-block;
}
.terms-text103 {
  display: inline-block;
}
.terms-text104 {
  display: inline-block;
}
.terms-text105 {
  display: inline-block;
}
.terms-text106 {
  display: inline-block;
}
.terms-text107 {
  display: inline-block;
}
.terms-text108 {
  display: inline-block;
}
.terms-text109 {
  display: inline-block;
}
.terms-text110 {
  display: inline-block;
}
.terms-text111 {
  display: inline-block;
}
.terms-text112 {
  display: inline-block;
}
.terms-text113 {
  display: inline-block;
}
.terms-text114 {
  display: inline-block;
}
.terms-text115 {
  display: inline-block;
}
.terms-text116 {
  display: inline-block;
}
.terms-text117 {
  display: inline-block;
}
.terms-text118 {
  font-weight: 700;
}
.terms-text119 {
  display: inline-block;
}
.terms-text120 {
  display: inline-block;
}
.terms-text121 {
  font-weight: 700;
}
.terms-text122 {
  display: inline-block;
}
.terms-text123 {
  display: inline-block;
}
.terms-text124 {
  font-weight: 700;
}
.terms-text125 {
  display: inline-block;
}
.terms-text126 {
  display: inline-block;
}
.terms-text127 {
  font-weight: 700;
}
.terms-text128 {
  display: inline-block;
}
.terms-text129 {
  display: inline-block;
}
.terms-text130 {
  font-weight: 700;
}
.terms-text131 {
  display: inline-block;
}
.terms-text132 {
  display: inline-block;
}
.terms-text133 {
  display: inline-block;
}
.terms-text134 {
  font-weight: 700;
}
.terms-text135 {
  display: inline-block;
}
.terms-text136 {
  display: inline-block;
}
.terms-text137 {
  display: inline-block;
}
.terms-text138 {
  display: inline-block;
}
.terms-text139 {
  display: inline-block;
}
.terms-text140 {
  display: inline-block;
}
.terms-text141 {
  display: inline-block;
}


.separator-container12 {
  display: flex;
  position: relative;
}
.separator-separator {
  align-self: center;
  font-style: normal;
  font-weight: 700;
}


@media(max-width: 767px) {
  .separator-separator {
    text-align: center;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .separator-separator {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
}

.footer-footer {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-unit);
  justify-content: space-between;
}
.footer-navlink7 {
  display: contents;
}
.footer-profil {
  height: 2rem;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-round);
  text-decoration: none;
}
.footer-container08 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer-text259 {
  color: #ff0101;
}
.footer-status {
  align-self: center;
  text-decoration: none;
}
.footer-raccourci-menu {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.footer-navlink8 {
  display: contents;
}
.footer-home {
  width: 40px;
  object-fit: cover;
  margin-right: var(--dl-space-space-unit);
  text-decoration: none;
}
.footer-link {
  display: contents;
}
.footer-github {
  width: 40px;
  height: auto;
  object-fit: cover;
  text-decoration: none;
}




@media(max-width: 767px) {
  .footer-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .footer-made {
    text-align: center;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
  .footer-text258 {
    text-align: center;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
  .footer-text259 {
    text-align: center;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
  .footer-text260 {
    text-align: center;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
  .footer-copyright {
    text-align: center;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
  .footer-rights {
    text-align: center;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
  .footer-status {
    text-align: center;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .footer-footer {
    padding: var(--dl-space-space-unit);
    flex-direction: column;
  }
  .footer-profil {
    margin-bottom: var(--dl-space-space-unit);
  }
  .footer-made {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
  .footer-text258 {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
  .footer-text259 {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
  .footer-text260 {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
  .footer-copyright {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
  .footer-rights {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
  .footer-status {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
}

.cyber-companion-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.cyber-companion-features {
  flex: 1;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  position: relative;
  flex-direction: column;
  background-size: auto;
  background-image: url("public/cybercompanion/cybercompanionbanner-1500w.gif");
  background-repeat: repeat;
  background-position: center;
}
.cyber-companion-text {
  padding: var(--dl-space-space-oneandhalfunits);
  font-size: 3rem;
  box-shadow: rgb(212, 212, 212) 5px 5px 10px 0px;
  border-radius: var(--dl-radius-radius-radius8);
  margin-bottom: var(--dl-space-space-twounits);
  background-color: rgb(255, 255, 255);
}
.cyber-companion-separator {
  width: 100px;
  height: 2px;
  background-color: var(--dl-color-gray-500);
}
.cyber-companion-link {
  color: #ffffff;
  align-self: stretch;
  text-align: center;
  border-color: #7289da;
  text-decoration: none;
  background-color: rgba(114, 137, 218, 0.68);
}
.cyber-companion-text005 {
  font-size: 30px;
}
.cyber-companion-text007 {
  color: var(--dl-color-gray-black);
  font-style: normal;
  font-weight: 700;
}
.cyber-companion-separator1 {
  width: 100px;
  height: 2px;
  background-color: var(--dl-color-gray-500);
}
.cyber-companion-container1 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  margin-top: var(--dl-space-space-twounits);
  align-items: center;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: row;
  justify-content: space-between;
  background-color: #ffffff;
}
.cyber-companion-container2 {
  display: grid;
  margin-left: var(--dl-space-space-twounits);
  grid-template-columns: 1fr 1fr;
}
.cyber-companion-feature-card {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: flex-start;
}
.cyber-companion-container3 {
  flex: 0 0 auto;
  width: auto;
  height: 2rem;
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  justify-content: flex-start;
}
.cyber-companion-image {
  width: 35px;
  object-fit: cover;
}
.cyber-companion-text009 {
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  margin: auto;
  position: absolute;
  text-align: center;
  font-weight: 600;
}
.cyber-companion-text010 {
  color: var(--dl-color-gray-700);
  margin-top: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-unit);
}
.cyber-companion-feature-card1 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.cyber-companion-container4 {
  flex: 0 0 auto;
  width: auto;
  height: 2rem;
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  justify-content: flex-start;
}
.cyber-companion-image1 {
  width: 35px;
  object-fit: cover;
}
.cyber-companion-text011 {
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  margin: auto;
  position: absolute;
  text-align: center;
  font-weight: 600;
}
.cyber-companion-text012 {
  color: var(--dl-color-gray-700);
  margin-top: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-unit);
}
.cyber-companion-feature-card2 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.cyber-companion-container5 {
  flex: 0 0 auto;
  width: auto;
  height: 2rem;
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  justify-content: flex-start;
}
.cyber-companion-image2 {
  width: 35px;
  object-fit: cover;
}
.cyber-companion-text013 {
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  margin: auto;
  position: absolute;
  text-align: center;
  font-weight: 600;
}
.cyber-companion-text014 {
  color: var(--dl-color-gray-700);
  margin-top: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-unit);
}
.cyber-companion-feature-card3 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.cyber-companion-container6 {
  flex: 0 0 auto;
  width: auto;
  height: 2rem;
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  justify-content: flex-start;
}
.cyber-companion-image3 {
  width: 35px;
  object-fit: cover;
}
.cyber-companion-text015 {
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  margin: auto;
  position: absolute;
  text-align: center;
  font-weight: 600;
}
.cyber-companion-text016 {
  color: var(--dl-color-gray-700);
  margin-top: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-unit);
}
.cyber-companion-image4 {
  flex: 1;
  width: auto;
  height: auto;
  object-fit: cover;
  flex-shrink: 0;
  margin-left: var(--dl-space-space-twounits);
  margin-right: var(--dl-space-space-twounits);
  border-radius: var(--dl-radius-radius-round);
  margin-bottom: var(--dl-space-space-twounits);
  object-position: left;
}
.cyber-companion-text017 {
  display: inline-block;
}
.cyber-companion-text018 {
  display: inline-block;
}
.cyber-companion-text019 {
  display: inline-block;
}
.cyber-companion-text020 {
  display: inline-block;
}
.cyber-companion-text021 {
  display: inline-block;
}
.cyber-companion-text022 {
  display: inline-block;
}
.cyber-companion-text023 {
  display: inline-block;
}
.cyber-companion-text024 {
  display: inline-block;
}
.cyber-companion-text025 {
  display: inline-block;
}
.cyber-companion-text026 {
  display: inline-block;
}
.cyber-companion-text027 {
  display: inline-block;
}
.cyber-companion-text028 {
  display: inline-block;
}
.cyber-companion-text029 {
  display: inline-block;
}
.cyber-companion-text030 {
  display: inline-block;
}
.cyber-companion-text031 {
  display: inline-block;
}
.cyber-companion-text032 {
  display: inline-block;
}
.cyber-companion-text033 {
  display: inline-block;
}
.cyber-companion-text034 {
  display: inline-block;
}
.cyber-companion-text035 {
  display: inline-block;
}
.cyber-companion-text036 {
  display: inline-block;
}
.cyber-companion-text037 {
  display: inline-block;
}
.cyber-companion-text038 {
  display: inline-block;
}
.cyber-companion-text039 {
  display: inline-block;
}
.cyber-companion-text040 {
  display: inline-block;
}
.cyber-companion-text041 {
  display: inline-block;
}
.cyber-companion-text042 {
  display: inline-block;
}
.cyber-companion-text043 {
  display: inline-block;
}
.cyber-companion-text044 {
  display: inline-block;
}
.cyber-companion-text045 {
  display: inline-block;
}
.cyber-companion-text046 {
  display: inline-block;
}
.cyber-companion-text047 {
  display: inline-block;
}
.cyber-companion-text048 {
  display: inline-block;
}
.cyber-companion-text049 {
  display: inline-block;
}
.cyber-companion-text050 {
  display: inline-block;
}
.cyber-companion-text051 {
  display: inline-block;
}
.cyber-companion-text052 {
  display: inline-block;
}
.cyber-companion-text053 {
  display: inline-block;
}
.cyber-companion-text054 {
  display: inline-block;
}
.cyber-companion-text055 {
  display: inline-block;
}
.cyber-companion-text056 {
  display: inline-block;
}
.cyber-companion-text057 {
  display: inline-block;
}
.cyber-companion-text058 {
  display: inline-block;
}
.cyber-companion-text059 {
  display: inline-block;
}
.cyber-companion-text060 {
  display: inline-block;
}
.cyber-companion-text061 {
  display: inline-block;
}
.cyber-companion-text062 {
  display: inline-block;
}
.cyber-companion-text063 {
  display: inline-block;
}
.cyber-companion-text064 {
  display: inline-block;
}
.cyber-companion-text065 {
  display: inline-block;
}
.cyber-companion-text066 {
  font-weight: 700;
}
.cyber-companion-text067 {
  display: inline-block;
}
.cyber-companion-text068 {
  display: inline-block;
}
.cyber-companion-text069 {
  display: inline-block;
}
.cyber-companion-text070 {
  display: inline-block;
}
.cyber-companion-text071 {
  display: inline-block;
}
.cyber-companion-text072 {
  font-weight: 700;
}
.cyber-companion-text073 {
  display: inline-block;
}
.cyber-companion-text074 {
  display: inline-block;
}
.cyber-companion-text075 {
  display: inline-block;
}
.cyber-companion-text076 {
  font-weight: 700;
}
.cyber-companion-text077 {
  display: inline-block;
}
.cyber-companion-text078 {
  display: inline-block;
}
.cyber-companion-text079 {
  display: inline-block;
}
.cyber-companion-text080 {
  display: inline-block;
}
.cyber-companion-text081 {
  display: inline-block;
}
.cyber-companion-text082 {
  display: inline-block;
}
.cyber-companion-text083 {
  display: inline-block;
}
.cyber-companion-text084 {
  display: inline-block;
}
.cyber-companion-text085 {
  display: inline-block;
}
.cyber-companion-text086 {
  display: inline-block;
}
.cyber-companion-text087 {
  display: inline-block;
}
.cyber-companion-text088 {
  display: inline-block;
}
.cyber-companion-text089 {
  display: inline-block;
}
.cyber-companion-text090 {
  display: inline-block;
}
.cyber-companion-text091 {
  display: inline-block;
}
.cyber-companion-text092 {
  display: inline-block;
}
.cyber-companion-text093 {
  font-weight: 700;
}
.cyber-companion-text094 {
  display: inline-block;
}
.cyber-companion-text095 {
  display: inline-block;
}
.cyber-companion-text096 {
  display: inline-block;
}
.cyber-companion-text097 {
  display: inline-block;
}
.cyber-companion-text098 {
  display: inline-block;
}
.cyber-companion-text099 {
  display: inline-block;
}
.cyber-companion-text100 {
  display: inline-block;
}
.cyber-companion-text101 {
  display: inline-block;
}
.cyber-companion-text102 {
  display: inline-block;
}
.cyber-companion-text103 {
  display: inline-block;
}
.cyber-companion-text104 {
  display: inline-block;
}
.cyber-companion-text105 {
  display: inline-block;
}
.cyber-companion-text106 {
  display: inline-block;
}
.cyber-companion-text107 {
  display: inline-block;
}
.cyber-companion-text108 {
  display: inline-block;
}
.cyber-companion-text109 {
  display: inline-block;
}
.cyber-companion-text110 {
  display: inline-block;
}
.cyber-companion-text111 {
  display: inline-block;
}
.cyber-companion-text112 {
  display: inline-block;
}
.cyber-companion-text113 {
  display: inline-block;
}
.cyber-companion-text114 {
  display: inline-block;
}
.cyber-companion-text115 {
  display: inline-block;
}
.cyber-companion-text116 {
  display: inline-block;
}
.cyber-companion-text117 {
  display: inline-block;
}
.cyber-companion-text118 {
  font-weight: 700;
}
.cyber-companion-text119 {
  display: inline-block;
}
.cyber-companion-text120 {
  display: inline-block;
}
.cyber-companion-text121 {
  font-weight: 700;
}
.cyber-companion-text122 {
  display: inline-block;
}
.cyber-companion-text123 {
  display: inline-block;
}
.cyber-companion-text124 {
  font-weight: 700;
}
.cyber-companion-text125 {
  display: inline-block;
}
.cyber-companion-text126 {
  display: inline-block;
}
.cyber-companion-text127 {
  font-weight: 700;
}
.cyber-companion-text128 {
  display: inline-block;
}
.cyber-companion-text129 {
  display: inline-block;
}
.cyber-companion-text130 {
  font-weight: 700;
}
.cyber-companion-text131 {
  display: inline-block;
}
.cyber-companion-text132 {
  display: inline-block;
}
.cyber-companion-text133 {
  display: inline-block;
}
.cyber-companion-text134 {
  font-weight: 700;
}
.cyber-companion-text135 {
  display: inline-block;
}
.cyber-companion-text136 {
  display: inline-block;
}
.cyber-companion-text137 {
  display: inline-block;
}
.cyber-companion-text138 {
  display: inline-block;
}
.cyber-companion-text139 {
  display: inline-block;
}
.cyber-companion-text140 {
  display: inline-block;
}
.cyber-companion-text141 {
  display: inline-block;
}
@media(max-width: 991px) {
  .cyber-companion-features {
    align-items: center;
  }
  .cyber-companion-text {
    align-self: stretch;
  }
  .cyber-companion-container1 {
    flex-direction: column;
  }
  .cyber-companion-container2 {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-left: var(--dl-space-space-twounits);
    margin-right: var(--dl-space-space-twounits);
  }
  .cyber-companion-image4 {
    flex: 0 0 auto;
    width: var(--dl-size-size-xlarge);
    margin-bottom: var(--dl-space-space-twounits);
  }
}
@media(max-width: 767px) {
  .cyber-companion-features {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .cyber-companion-text {
    font-size: 2em;
    text-align: center;
  }
  .cyber-companion-container1 {
    flex-direction: column;
  }
  .cyber-companion-image4 {
    width: var(--dl-size-size-large);
  }
}
@media(max-width: 479px) {
  .cyber-companion-features {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .cyber-companion-text {
    padding: var(--dl-space-space-halfunit);
    font-size: 1.5em;
    box-shadow: rgb(212, 212, 212) 5px 5px 10px 0px;
    background-color: rgb(255, 255, 255);
  }
  .cyber-companion-text005 {
    font-size: 20px;
  }
  .cyber-companion-container2 {
    margin-top: var(--dl-space-space-halfunit);
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
    grid-template-columns: 1fr;
  }
  .cyber-companion-text009 {
    font-style: normal;
    font-weight: 600;
  }
  .cyber-companion-text011 {
    font-style: normal;
    font-weight: 600;
  }
  .cyber-companion-text013 {
    font-style: normal;
    font-weight: 600;
  }
  .cyber-companion-text015 {
    font-style: normal;
    font-weight: 600;
  }
  .cyber-companion-image4 {
    width: 250px;
    height: 250px;
  }
}
