.menu-container {
  width: 100%;
  display: flex;
  position: relative;
}
.menu-navbar-interactive {
  flex: 1;
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-unit);
  justify-content: space-between;
}
.menu-navlink {
  display: contents;
}
.menu-logo {
  width: 62px;
  height: 64px;
  border-radius: var(--dl-radius-radius-round);
  text-decoration: none;
}
.menu-desktop-menu {
  display: flex;
}
.menu-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.menu-navlink1 {
  font-size: 20px;
  text-decoration: none;
}
.menu-text2 {
  font-size: 18px;
  margin-left: var(--dl-space-space-twounits);
}
.menu-text5 {
  font-size: 18px;
  margin-left: var(--dl-space-space-twounits);
}
.menu-text6 {
  font-size: 18px;
  margin-left: var(--dl-space-space-twounits);
}
.menu-btn-group {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.menu-login {
  border-color: #7289da;
  border-width: 1px;
  margin-right: var(--dl-space-space-twounits);
}
.menu-register {
  color: #ffffff;
  border-width: 1px;
  text-decoration: none;
  background-color: #7289da;
}
.menu-burger-menu {
  display: none;
  align-items: center;
  justify-content: center;
}
.menu-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.menu-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: fixed;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.menu-nav1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.menu-container1 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.menu-image {
  height: 2rem;
  border-radius: var(--dl-radius-radius-round);
}
.menu-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.menu-nav2 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.menu-navlink2 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.menu-navlink3 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.menu-container2 {
  flex: 0 0 auto;
  width: auto;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
}
.menu-icon-group {
  display: flex;
}
.menu-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.menu-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.menu-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.menu-root-class-name {
  width: 100%;
}
.menu-root-class-name1 {
  width: 100%;
}

@media(max-width: 1200px) {
  .menu-image {
    border-radius: var(--dl-radius-radius-round);
  }
}
@media(max-width: 991px) {
  .menu-image {
    border-radius: var(--dl-radius-radius-round);
  }
}
@media(max-width: 767px) {
  .menu-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .menu-desktop-menu {
    display: none;
  }
  .menu-text2 {
    margin-left: var(--dl-space-space-unit);
  }
  .menu-text5 {
    margin-left: var(--dl-space-space-unit);
  }
  .menu-text6 {
    margin-left: var(--dl-space-space-unit);
  }
  .menu-btn-group {
    display: none;
  }
  .menu-burger-menu {
    display: flex;
  }
  .menu-image {
    border-radius: var(--dl-radius-radius-round);
  }
}
@media(max-width: 479px) {
  .menu-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .menu-mobile-menu {
    padding: 16px;
  }
  .menu-image {
    border-radius: var(--dl-radius-radius-round);
  }
}

.separator-container {
  display: flex;
  position: relative;
}
.separator-separator {
  align-self: center;
  font-style: normal;
  font-weight: 700;
}
@media(max-width: 767px) {
  .separator-separator {
    text-align: center;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .separator-separator {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
}

.footer-footer {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-unit);
  justify-content: space-between;
}
.footer-navlink {
  display: contents;
}
.footer-profil {
  height: 2rem;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-round);
  text-decoration: none;
}
.footer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer-status {
  align-self: center;
  text-decoration: none;
}
.footer-raccourci-menu {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.footer-navlink1 {
  display: contents;
}
.footer-home {
  width: 40px;
  object-fit: cover;
  margin-right: var(--dl-space-space-unit);
  text-decoration: none;
}
.footer-link {
  display: contents;
}
.footer-github {
  width: 40px;
  height: auto;
  object-fit: cover;
  text-decoration: none;
}


@media(max-width: 767px) {
  .footer-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .footer-copyright {
    text-align: center;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
  .footer-status {
    text-align: center;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .footer-footer {
    padding: var(--dl-space-space-unit);
    flex-direction: column;
  }
  .footer-profil {
    margin-bottom: var(--dl-space-space-unit);
  }
  .footer-copyright {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
  .footer-status {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
}

.discordnnect-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.discordnnect-features {
  flex: 1;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  position: relative;
  flex-direction: column;
  background-size: auto;
  background-image: url("public/discordnnect/discordnnectbanner-1500w.gif");
  background-repeat: repeat;
  background-position: center;
}
.discordnnect-text {
  padding: var(--dl-space-space-oneandhalfunits);
  font-size: 3rem;
  box-shadow: rgb(212, 212, 212) 5px 5px 10px 0px;
  border-radius: var(--dl-radius-radius-radius8);
  margin-bottom: var(--dl-space-space-twounits);
  background-color: rgb(255, 255, 255);
}
.discordnnect-separator {
  width: 100px;
  height: 2px;
  background-color: var(--dl-color-gray-500);
}
.discordnnect-link {
  color: #ffffff;
  align-self: stretch;
  text-align: center;
  border-color: #7289da;
  text-decoration: none;
  background-color: rgba(114, 137, 218, 0.68);
}
.discordnnect-text05 {
  font-size: 30px;
}
.discordnnect-text07 {
  color: var(--dl-color-gray-black);
  font-style: normal;
  font-weight: 700;
  text-transform: capitalize;
}
.discordnnect-separator1 {
  width: 100px;
  height: 2px;
  background-color: var(--dl-color-gray-500);
}
.discordnnect-container1 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  margin-top: var(--dl-space-space-twounits);
  align-items: center;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: row;
  justify-content: space-between;
  background-color: #ffffff;
}
.discordnnect-container2 {
  display: grid;
  margin-left: var(--dl-space-space-twounits);
  grid-template-columns: 1fr 1fr;
}
.discordnnect-feature-card {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: flex-start;
}
.discordnnect-container3 {
  flex: 0 0 auto;
  width: auto;
  height: 2rem;
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  justify-content: flex-start;
}
.discordnnect-image {
  width: 35px;
  object-fit: cover;
}
.discordnnect-text09 {
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  margin: auto;
  position: absolute;
  text-align: center;
  font-weight: 600;
}
.discordnnect-text10 {
  color: var(--dl-color-gray-700);
  margin-top: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-unit);
}
.discordnnect-feature-card1 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.discordnnect-container4 {
  flex: 0 0 auto;
  width: auto;
  height: 2rem;
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  justify-content: flex-start;
}
.discordnnect-image1 {
  width: 35px;
  object-fit: cover;
}
.discordnnect-text11 {
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  margin: auto;
  position: absolute;
  text-align: center;
  font-weight: 600;
}
.discordnnect-text12 {
  color: var(--dl-color-gray-700);
  margin-top: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-unit);
}
.discordnnect-feature-card2 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.discordnnect-container5 {
  flex: 0 0 auto;
  width: auto;
  height: 2rem;
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  justify-content: flex-start;
}
.discordnnect-image2 {
  width: 35px;
  object-fit: cover;
}
.discordnnect-text13 {
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  margin: auto;
  position: absolute;
  text-align: center;
  font-weight: 600;
}
.discordnnect-text14 {
  color: var(--dl-color-gray-700);
  margin-top: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-unit);
}
.discordnnect-feature-card3 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.discordnnect-container6 {
  flex: 0 0 auto;
  width: auto;
  height: 2rem;
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  justify-content: flex-start;
}
.discordnnect-image3 {
  width: 35px;
  object-fit: cover;
}
.discordnnect-text15 {
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  margin: auto;
  position: absolute;
  text-align: center;
  font-weight: 600;
}
.discordnnect-text16 {
  color: var(--dl-color-gray-700);
  margin-top: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-unit);
}
.discordnnect-image4 {
  flex: 1;
  width: auto;
  height: auto;
  object-fit: cover;
  flex-shrink: 0;
  margin-left: var(--dl-space-space-twounits);
  margin-right: var(--dl-space-space-twounits);
  border-radius: var(--dl-radius-radius-round);
  margin-bottom: var(--dl-space-space-twounits);
  object-position: left;
}
@media(max-width: 991px) {
  .discordnnect-features {
    align-items: center;
  }
  .discordnnect-text {
    align-self: stretch;
  }
  .discordnnect-container1 {
    flex-direction: column;
  }
  .discordnnect-container2 {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-left: var(--dl-space-space-twounits);
    margin-right: var(--dl-space-space-twounits);
  }
  .discordnnect-image4 {
    flex: 0 0 auto;
    width: var(--dl-size-size-xlarge);
    margin-bottom: var(--dl-space-space-twounits);
  }
}
@media(max-width: 767px) {
  .discordnnect-features {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .discordnnect-text {
    font-size: 2em;
    text-align: center;
  }
  .discordnnect-container1 {
    flex-direction: column;
  }
  .discordnnect-image4 {
    width: var(--dl-size-size-large);
  }
}
@media(max-width: 479px) {
  .discordnnect-features {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .discordnnect-text {
    padding: var(--dl-space-space-halfunit);
    font-size: 1.5em;
    box-shadow: rgb(212, 212, 212) 5px 5px 10px 0px;
    background-color: rgb(255, 255, 255);
  }
  .discordnnect-text05 {
    font-size: 20px;
  }
  .discordnnect-container2 {
    margin-top: var(--dl-space-space-halfunit);
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
    grid-template-columns: 1fr;
  }
  .discordnnect-text09 {
    font-style: normal;
    font-weight: 600;
  }
  .discordnnect-text11 {
    font-style: normal;
    font-weight: 600;
  }
  .discordnnect-text13 {
    font-style: normal;
    font-weight: 600;
  }
  .discordnnect-text15 {
    font-style: normal;
    font-weight: 600;
  }
  .discordnnect-image4 {
    width: 250px;
    height: 250px;
  }
}
