.navbar-interactive-container {
  width: 100%;
  display: flex;
  position: relative;
}
.navbar-interactive-navbar-interactive {
  flex: 1;
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-unit);
  justify-content: space-between;
}
.navbar-interactive-navlink {
  display: contents;
}
.navbar-interactive-logo {
  width: 62px;
  height: 64px;
  border-radius: var(--dl-radius-radius-round);
  text-decoration: none;
}
.navbar-interactive-desktop-menu {
  display: flex;
}
.navbar-interactive-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navbar-interactive-navlink1 {
  font-size: 20px;
  text-decoration: none;
}
.navbar-interactive-link {
  font-size: 18px;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navbar-interactive-link1 {
  font-size: 18px;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navbar-interactive-link2 {
  font-size: 18px;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navbar-interactive-btn-group {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.navbar-interactive-login {
  border-color: #7289da;
  border-width: 1px;
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navbar-interactive-register {
  color: #ffffff;
  border-width: 1px;
  text-decoration: none;
  background-color: #7289da;
}
.navbar-interactive-burger-menu {
  display: none;
  align-items: center;
  justify-content: center;
}
.navbar-interactive-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.navbar-interactive-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: fixed;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.navbar-interactive-nav1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.navbar-interactive-container1 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.navbar-interactive-image {
  height: 2rem;
}
.navbar-interactive-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar-interactive-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.navbar-interactive-nav2 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.navbar-interactive-text4 {
  margin-bottom: var(--dl-space-space-unit);
}
.navbar-interactive-text5 {
  margin-bottom: var(--dl-space-space-unit);
}
.navbar-interactive-text6 {
  margin-bottom: var(--dl-space-space-unit);
}
.navbar-interactive-text7 {
  margin-bottom: var(--dl-space-space-unit);
}
.navbar-interactive-text8 {
  margin-bottom: var(--dl-space-space-unit);
}
.navbar-interactive-container2 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
}
.navbar-interactive-login1 {
  margin-right: var(--dl-space-space-twounits);
}
.navbar-interactive-icon-group {
  display: flex;
}
.navbar-interactive-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.navbar-interactive-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.navbar-interactive-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.navbar-interactive-root-class-name {
  width: 100%;
}
.navbar-interactive-root-class-name1 {
  width: 100%;
}
@media(max-width: 767px) {
  .navbar-interactive-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .navbar-interactive-desktop-menu {
    display: none;
  }
  .navbar-interactive-link {
    margin-left: var(--dl-space-space-unit);
  }
  .navbar-interactive-link1 {
    margin-left: var(--dl-space-space-unit);
  }
  .navbar-interactive-link2 {
    margin-left: var(--dl-space-space-unit);
  }
  .navbar-interactive-btn-group {
    display: none;
  }
  .navbar-interactive-burger-menu {
    display: flex;
  }
}
@media(max-width: 479px) {
  .navbar-interactive-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .navbar-interactive-mobile-menu {
    padding: 16px;
  }
}

.footer-footer {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-unit);
  justify-content: space-between;
}
.footer-navlink {
  display: contents;
}
.footer-image {
  height: 2rem;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-round);
  text-decoration: none;
}
.footer-icon-group {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.footer-navlink1 {
  display: contents;
}
.footer-image1 {
  width: 40px;
  object-fit: cover;
  margin-right: var(--dl-space-space-unit);
  text-decoration: none;
}
.footer-link {
  display: contents;
}
.footer-image2 {
  width: 40px;
  height: auto;
  object-fit: cover;
  text-decoration: none;
}

@media(max-width: 767px) {
  .footer-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .footer-text {
    text-align: center;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .footer-footer {
    padding: var(--dl-space-space-unit);
    flex-direction: column;
  }
  .footer-image {
    margin-bottom: var(--dl-space-space-unit);
  }
  .footer-text {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
}

.discordnnect-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.discordnnect-features {
  flex: 1;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  flex-direction: column;
  background-size: auto;
  background-image: url("public/playground_assets/discordnnectbanner-1500w.gif");
  background-repeat: repeat;
  background-position: center;
}
.discordnnect-text {
  padding: var(--dl-space-space-oneandhalfunits);
  font-size: 3rem;
  box-shadow: rgb(212, 212, 212) 5px 5px 10px 0px;
  border-radius: var(--dl-radius-radius-radius8);
  margin-bottom: var(--dl-space-space-twounits);
  background-color: #ffffff;
}
.discordnnect-link {
  color: #ffffff;
  align-self: stretch;
  text-align: center;
  border-color: #7289da;
  text-decoration: none;
  background-color: rgba(114, 137, 218, 0.68);
}
.discordnnect-text07 {
  color: var(--dl-color-gray-black);
  font-style: normal;
  font-weight: 700;
  text-transform: capitalize;
}
.discordnnect-separator {
  width: 100px;
  height: 2px;
  background-color: var(--dl-color-gray-500);
}
.discordnnect-container1 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  margin-top: var(--dl-space-space-twounits);
  align-items: center;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: row;
  justify-content: space-between;
  background-color: #ffffff;
}
.discordnnect-container2 {
  display: grid;
  margin-left: var(--dl-space-space-twounits);
  grid-template-columns: 1fr 1fr;
}
.discordnnect-feature-card {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: flex-start;
}
.discordnnect-container3 {
  flex: 0 0 auto;
  width: auto;
  height: 2rem;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.discordnnect-image {
  width: 35px;
  height: 100%;
  object-fit: cover;
}
.discordnnect-text09 {
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.discordnnect-text10 {
  color: var(--dl-color-gray-700);
}
.discordnnect-feature-card1 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.discordnnect-container4 {
  flex: 0 0 auto;
  width: auto;
  height: 2rem;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.discordnnect-image1 {
  width: 35px;
  height: 100%;
  object-fit: cover;
}
.discordnnect-text11 {
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.discordnnect-text12 {
  color: var(--dl-color-gray-700);
}
.discordnnect-feature-card2 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.discordnnect-container5 {
  flex: 0 0 auto;
  width: auto;
  height: 2rem;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.discordnnect-image2 {
  width: 35px;
  height: 100%;
  object-fit: cover;
}
.discordnnect-text13 {
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.discordnnect-text14 {
  color: var(--dl-color-gray-700);
}
.discordnnect-feature-card3 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.discordnnect-container6 {
  flex: 0 0 auto;
  width: auto;
  height: 2rem;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.discordnnect-image3 {
  width: 35px;
  height: 100%;
  object-fit: cover;
}
.discordnnect-text15 {
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.discordnnect-text16 {
  color: var(--dl-color-gray-700);
}
.discordnnect-image4 {
  flex: 1;
  width: auto;
  height: auto;
  object-fit: cover;
  flex-shrink: 0;
  margin-left: var(--dl-space-space-twounits);
  margin-right: var(--dl-space-space-twounits);
  border-radius: var(--dl-radius-radius-round);
  margin-bottom: var(--dl-space-space-twounits);
  object-position: left;
}
@media(max-width: 991px) {
  .discordnnect-features {
    align-items: center;
  }
  .discordnnect-container1 {
    flex-direction: column;
  }
  .discordnnect-image4 {
    width: 300px;
    height: 300px;
    margin-top: var(--dl-space-space-twounits);
    margin-left: 0px;
  }
}
@media(max-width: 767px) {
  .discordnnect-features {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .discordnnect-text {
    text-align: center;
  }
  .discordnnect-container1 {
    flex-direction: column;
  }
}
@media(max-width: 479px) {
  .discordnnect-features {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .discordnnect-container2 {
    grid-template-columns: 1fr;
  }
  .discordnnect-text09 {
    font-style: normal;
    font-weight: 600;
  }
  .discordnnect-text11 {
    font-style: normal;
    font-weight: 600;
  }
  .discordnnect-text13 {
    font-style: normal;
    font-weight: 600;
  }
  .discordnnect-text15 {
    font-style: normal;
    font-weight: 600;
  }
  .discordnnect-image4 {
    width: 250px;
    height: 250px;
  }
}
