.navbar-interactive-container {
  width: 100%;
  display: flex;
  position: relative;
}
.navbar-interactive-navbar-interactive {
  flex: 1;
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-unit);
  justify-content: space-between;
}
.navbar-interactive-navlink {
  display: contents;
}
.navbar-interactive-logo {
  width: 62px;
  height: 64px;
  border-radius: var(--dl-radius-radius-round);
  text-decoration: none;
}
.navbar-interactive-desktop-menu {
  display: flex;
}
.navbar-interactive-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navbar-interactive-navlink1 {
  font-size: 20px;
  text-decoration: none;
}
.navbar-interactive-link {
  font-size: 18px;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navbar-interactive-link1 {
  font-size: 18px;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navbar-interactive-link2 {
  font-size: 18px;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navbar-interactive-btn-group {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.navbar-interactive-login {
  border-color: #7289da;
  border-width: 1px;
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navbar-interactive-register {
  color: #ffffff;
  border-width: 1px;
  text-decoration: none;
  background-color: #7289da;
}
.navbar-interactive-burger-menu {
  display: none;
  align-items: center;
  justify-content: center;
}
.navbar-interactive-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.navbar-interactive-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: fixed;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.navbar-interactive-nav1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.navbar-interactive-container1 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.navbar-interactive-image {
  height: 2rem;
  border-radius: var(--dl-radius-radius-round);
}
.navbar-interactive-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar-interactive-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.navbar-interactive-nav2 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.navbar-interactive-navlink2 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.navbar-interactive-navlink3 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.navbar-interactive-container2 {
  flex: 0 0 auto;
  width: auto;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
}
.navbar-interactive-icon-group {
  display: flex;
}
.navbar-interactive-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.navbar-interactive-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.navbar-interactive-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.navbar-interactive-root-class-name {
  width: 100%;
}
.navbar-interactive-root-class-name1 {
  width: 100%;
}
@media(max-width: 1200px) {
  .navbar-interactive-image {
    border-radius: var(--dl-radius-radius-round);
  }
}
@media(max-width: 991px) {
  .navbar-interactive-image {
    border-radius: var(--dl-radius-radius-round);
  }
}
@media(max-width: 767px) {
  .navbar-interactive-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .navbar-interactive-desktop-menu {
    display: none;
  }
  .navbar-interactive-link {
    margin-left: var(--dl-space-space-unit);
  }
  .navbar-interactive-link1 {
    margin-left: var(--dl-space-space-unit);
  }
  .navbar-interactive-link2 {
    margin-left: var(--dl-space-space-unit);
  }
  .navbar-interactive-btn-group {
    display: none;
  }
  .navbar-interactive-burger-menu {
    display: flex;
  }
  .navbar-interactive-image {
    border-radius: var(--dl-radius-radius-round);
  }
}
@media(max-width: 479px) {
  .navbar-interactive-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .navbar-interactive-mobile-menu {
    padding: 16px;
  }
  .navbar-interactive-image {
    border-radius: var(--dl-radius-radius-round);
  }
}

.footer-footer {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-unit);
  justify-content: space-between;
}
.footer-navlink {
  display: contents;
}
.footer-image {
  height: 2rem;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-round);
  text-decoration: none;
}
.footer-icon-group {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.footer-navlink1 {
  display: contents;
}
.footer-image1 {
  width: 40px;
  object-fit: cover;
  margin-right: var(--dl-space-space-unit);
  text-decoration: none;
}
.footer-link {
  display: contents;
}
.footer-image2 {
  width: 40px;
  height: auto;
  object-fit: cover;
  text-decoration: none;
}

@media(max-width: 767px) {
  .footer-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .footer-text {
    text-align: center;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .footer-footer {
    padding: var(--dl-space-space-unit);
    flex-direction: column;
  }
  .footer-image {
    margin-bottom: var(--dl-space-space-unit);
  }
  .footer-text {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
}

.home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.home-banner {
  width: 100%;
  display: flex;
  box-shadow: 5px 5px 10px 10px #d4d4d4;
  align-items: center;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fourunits);
  background-size: cover;
  justify-content: space-between;
  background-image: url("public/playground_assets/banner-home-1500w.jpg");
  background-position: center;
}
.home-text {
  color: rgb(255, 255, 255);
  font-size: 0.75rem;
  text-align: center;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-twounits);
  letter-spacing: 2px;
  text-transform: uppercase;
}
.home-text01 {
  color: rgb(255, 255, 255);
  font-size: 3rem;
  text-align: center;
  margin-bottom: var(--dl-space-space-unit);
}
.home-text02 {
  color: rgb(0, 0, 0);
  padding: var(--dl-space-space-unit);
  max-width: var(--dl-size-size-maxwidth);
  font-style: normal;
  text-align: justify;
  font-weight: 600;
  border-radius: var(--dl-radius-radius-radius4);
  margin-bottom: var(--dl-space-space-twounits);
  background-color: rgba(217, 217, 217, 0.75);
  border-top-right-radius: var(--dl-radius-radius-radius4);
}
.home-features {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: var(--dl-size-size-maxwidth);
  flex-direction: column;
}
.home-text03 {
  padding: var(--dl-space-space-oneandhalfunits);
  box-shadow: rgb(212, 212, 212) 5px 5px 10px 0px;
  border-radius: var(--dl-radius-radius-radius8);
  margin-bottom: var(--dl-space-space-twounits);
}
.home-text04 {
  font-size: 3rem;
}
.home-separator {
  width: 100px;
  height: 2px;
  background-color: var(--dl-color-gray-500);
}
.home-container1 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  margin-top: var(--dl-space-space-twounits);
  align-items: center;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: row;
  justify-content: space-between;
}
.home-container2 {
  display: grid;
  margin-top: var(--dl-space-space-halfunit);
  margin-left: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-halfunit);
  grid-template-columns: 1fr 1fr;
}
.home-feature-card {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: flex-start;
}
.home-container3 {
  flex: 0 0 auto;
  width: auto;
  height: 2rem;
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-unit);
  justify-content: flex-start;
}
.home-image {
  width: 35px;
  height: 100%;
  object-fit: cover;
}
.home-text06 {
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  margin: auto;
  position: absolute;
  align-self: stretch;
  text-align: center;
  font-weight: 600;
}
.home-text07 {
  color: var(--dl-color-gray-700);
  text-align: justify;
}
.home-feature-card1 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-container4 {
  flex: 0 0 auto;
  width: auto;
  height: 2rem;
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-unit);
  justify-content: flex-start;
}
.home-image1 {
  width: 35px;
  object-fit: cover;
}
.home-text08 {
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  margin: auto;
  position: absolute;
  align-self: center;
  text-align: center;
  font-weight: 600;
}
.home-text09 {
  color: var(--dl-color-gray-700);
  text-align: justify;
}
.home-feature-card2 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-container5 {
  flex: 0 0 auto;
  width: auto;
  height: 2rem;
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-unit);
  justify-content: flex-start;
}
.home-image2 {
  width: 35px;
  height: 100%;
  object-fit: cover;
}
.home-text10 {
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  margin: auto;
  position: absolute;
  align-self: stretch;
  text-align: center;
  font-weight: 600;
}
.home-text11 {
  color: var(--dl-color-gray-700);
  text-align: justify;
}
.home-feature-card3 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-container6 {
  flex: 0 0 auto;
  width: auto;
  height: 2rem;
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-unit);
  justify-content: flex-start;
}
.home-image3 {
  width: 35px;
  height: 100%;
  object-fit: cover;
}
.home-text12 {
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  margin: auto;
  position: absolute;
  align-self: stretch;
  text-align: center;
  font-weight: 600;
}
.home-text13 {
  color: var(--dl-color-gray-700);
  text-align: justify;
}
.home-image4 {
  width: 326px;
  height: auto;
  object-fit: cover;
  flex-shrink: 0;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius8);
  object-position: left;
}
@media(max-width: 991px) {
  .home-text02 {
    width: 100%;
  }
  .home-features {
    align-items: center;
  }
  .home-container1 {
    flex-direction: column;
  }
  .home-container2 {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-right: var(--dl-space-space-twounits);
  }
  .home-image4 {
    margin-top: var(--dl-space-space-twounits);
    margin-left: var(--dl-space-space-unit);
    margin-bottom: var(--dl-space-space-twounits);
  }
}
@media(max-width: 767px) {
  .home-banner {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-text02 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .home-features {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-text03 {
    text-align: center;
  }
  .home-container1 {
    flex-direction: column;
  }
}
@media(max-width: 479px) {
  .home-banner {
    padding-top: var(--dl-space-space-threeunits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .home-features {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home-text03 {
    box-shadow: rgb(212, 212, 212) 5px 5px 10px 0px;
  }
  .home-text04 {
    font-size: 3rem;
  }
  .home-container2 {
    grid-template-columns: 1fr;
  }
  .home-text06 {
    font-style: normal;
    font-weight: 600;
  }
  .home-text07 {
    color: var(--dl-color-gray-700);
  }
  .home-text08 {
    font-style: normal;
    font-weight: 600;
  }
  .home-text10 {
    font-style: normal;
    font-weight: 600;
  }
  .home-text12 {
    font-style: normal;
    font-weight: 600;
  }
  .home-image4 {
    flex: 1;
  }
}
