.separator-container {
  display: flex;
  position: relative;
}
.separator-separator {
  align-self: center;
  font-style: normal;
  font-weight: 700;
}


@media(max-width: 767px) {
  .separator-separator {
    text-align: center;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .separator-separator {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
}

.footer-footer {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-unit);
  justify-content: space-between;
}
.footer-navlink {
  display: contents;
}
.footer-profil {
  height: 2rem;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-round);
  text-decoration: none;
}
.footer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer-text1 {
  color: #ff0101;
}
.footer-status {
  align-self: center;
  text-decoration: none;
}
.footer-raccourci-menu {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.footer-navlink1 {
  display: contents;
}
.footer-home {
  width: 40px;
  object-fit: cover;
  margin-right: var(--dl-space-space-unit);
  text-decoration: none;
}
.footer-link {
  display: contents;
}
.footer-github {
  width: 40px;
  height: auto;
  object-fit: cover;
  text-decoration: none;
}




@media(max-width: 767px) {
  .footer-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .footer-made {
    text-align: center;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
  .footer-text {
    text-align: center;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
  .footer-text1 {
    text-align: center;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
  .footer-text2 {
    text-align: center;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
  .footer-copyright {
    text-align: center;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
  .footer-rights {
    text-align: center;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
  .footer-status {
    text-align: center;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .footer-footer {
    padding: var(--dl-space-space-unit);
    flex-direction: column;
  }
  .footer-profil {
    margin-bottom: var(--dl-space-space-unit);
  }
  .footer-made {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
  .footer-text {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
  .footer-text1 {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
  .footer-text2 {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
  .footer-copyright {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
  .footer-rights {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
  .footer-status {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
}
