<div>
  <link href="./footer.css" rel="stylesheet" />
  <footer class="footer-footer">
    <a href="index.html" class="footer-navlink">
      <img alt="logo" src="public/myprofil-1500h.jpg" class="footer-profil" />
    </a>
    <div class="footer-container">
      <span class="footer-copyright">
        <span>© 2023 Fontom's, All Rights Reserved</span>
      </span>
      <div class="separator-container">
        <span class="separator-separator"> - </span>
      </div>
      <a
        href="https:///discordnnect-statuspage"
        target="_blank"
        rel="noreferrer noopener"
        class="footer-status"
      >
        Etat du système
      </a>
    </div>
    <div class="footer-raccourci-menu">
      <a href="index.html" class="footer-navlink1">
        <img
          alt="image"
          src="public/footer/icon-home-200h.png"
          class="footer-home"
        />
      </a>
      <a
        href="https://github.com/Fontom71"
        target="_blank"
        rel="noreferrer noopener"
        class="footer-link"
      >
        <img
          alt="image"
          src="public/footer/icon-github-200h.png"
          class="footer-github"
        />
      </a>
    </div>
  </footer>
</div>
