.menu-container {
  width: 100%;
  display: flex;
  position: relative;
}
.menu-navbar-interactive {
  flex: 1;
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-unit);
  justify-content: space-between;
}
.menu-navlink {
  display: contents;
}
.menu-logo {
  width: 62px;
  height: 64px;
  border-radius: var(--dl-radius-radius-round);
  text-decoration: none;
}
.menu-desktop-menu {
  display: flex;
}
.menu-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.menu-navlink1 {
  font-size: 20px;
  text-decoration: none;
}
.menu-navlink2 {
  font-size: 18px;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.menu-btn-group {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.menu-login {
  border-color: #7289da;
  border-width: 1px;
  margin-right: var(--dl-space-space-twounits);
}
.menu-register {
  color: #ffffff;
  border-width: 1px;
  text-decoration: none;
  background-color: #7289da;
}
.menu-burger-menu {
  display: none;
  align-items: center;
  justify-content: center;
}
.menu-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.menu-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: fixed;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.menu-nav1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.menu-container1 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.menu-image {
  height: 2rem;
  border-radius: var(--dl-radius-radius-round);
}
.menu-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.menu-nav2 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.menu-navlink3 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.menu-navlink4 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.menu-container2 {
  flex: 0 0 auto;
  width: auto;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
}
.menu-icon-group {
  display: flex;
}
.menu-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.menu-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.menu-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.menu-root-class-name {
  width: 100%;
}
.menu-root-class-name1 {
  width: 100%;
}



@media(max-width: 1200px) {
  .menu-image {
    border-radius: var(--dl-radius-radius-round);
  }
}
@media(max-width: 991px) {
  .menu-image {
    border-radius: var(--dl-radius-radius-round);
  }
}
@media(max-width: 767px) {
  .menu-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .menu-desktop-menu {
    display: none;
  }
  .menu-navlink2 {
    margin-left: var(--dl-space-space-unit);
  }
  .menu-btn-group {
    display: none;
  }
  .menu-burger-menu {
    display: flex;
  }
  .menu-image {
    border-radius: var(--dl-radius-radius-round);
  }
}
@media(max-width: 479px) {
  .menu-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .menu-mobile-menu {
    padding: 16px;
  }
  .menu-image {
    border-radius: var(--dl-radius-radius-round);
  }
}
