.privacy-container1 {
  gap: var(--dl-space-space-unit);
  display: flex;
  position: relative;
  align-items: center;
}
.privacy-container2 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.privacy-fragment10 {
  display: contents;
}
.privacy-text58 {
  display: inline-block;
}
.privacy-fragment11 {
  display: contents;
}
.privacy-text59 {
  display: inline-block;
}
.privacy-fragment12 {
  display: contents;
}
.privacy-text60 {
  display: inline-block;
}
.privacy-fragment13 {
  display: contents;
}
.privacy-text61 {
  display: inline-block;
}
.privacy-fragment14 {
  display: contents;
}
.privacy-text62 {
  display: inline-block;
}
.privacy-fragment15 {
  display: contents;
}
.privacy-text63 {
  display: inline-block;
}
.privacy-fragment16 {
  display: contents;
}
.privacy-text64 {
  display: inline-block;
}
.privacy-fragment17 {
  display: contents;
}
.privacy-text65 {
  display: inline-block;
}
.privacy-fragment18 {
  display: contents;
}
.privacy-text66 {
  display: inline-block;
}
.privacy-fragment19 {
  display: contents;
}
.privacy-text67 {
  display: inline-block;
}
.privacy-fragment20 {
  display: contents;
}
.privacy-text68 {
  display: inline-block;
}
.privacy-fragment21 {
  display: contents;
}
.privacy-text69 {
  display: inline-block;
}
.privacy-fragment22 {
  display: contents;
}
.privacy-text70 {
  display: inline-block;
}
.privacy-fragment23 {
  display: contents;
}
.privacy-text71 {
  display: inline-block;
}
.privacy-fragment24 {
  display: contents;
}
.privacy-text72 {
  display: inline-block;
}
.privacy-fragment25 {
  display: contents;
}
.privacy-text73 {
  display: inline-block;
}
.privacy-fragment26 {
  display: contents;
}
.privacy-text74 {
  display: inline-block;
}
.privacy-fragment27 {
  display: contents;
}
.privacy-text75 {
  display: inline-block;
}
.privacy-fragment28 {
  display: contents;
}
.privacy-text76 {
  display: inline-block;
}
.privacy-fragment29 {
  display: contents;
}
.privacy-text77 {
  display: inline-block;
}
.privacy-fragment30 {
  display: contents;
}
.privacy-text78 {
  display: inline-block;
}
.privacy-fragment31 {
  display: contents;
}
.privacy-text79 {
  display: inline-block;
}
.privacy-fragment32 {
  display: contents;
}
.privacy-text80 {
  display: inline-block;
}
.privacy-fragment33 {
  display: contents;
}
.privacy-text81 {
  display: inline-block;
}
.privacy-fragment34 {
  display: contents;
}
.privacy-text82 {
  display: inline-block;
}
.privacy-fragment35 {
  display: contents;
}
.privacy-text83 {
  display: inline-block;
}
.privacy-fragment36 {
  display: contents;
}
.privacy-text84 {
  display: inline-block;
}
.privacy-fragment37 {
  display: contents;
}
.privacy-text85 {
  display: inline-block;
}
.privacy-fragment38 {
  display: contents;
}
.privacy-text86 {
  display: inline-block;
}
.privacy-fragment39 {
  display: contents;
}
.privacy-text87 {
  display: inline-block;
}
.privacy-fragment40 {
  display: contents;
}
.privacy-text88 {
  display: inline-block;
}
.privacy-fragment41 {
  display: contents;
}
.privacy-text89 {
  display: inline-block;
}
.privacy-fragment42 {
  display: contents;
}
.privacy-text90 {
  display: inline-block;
}
.privacy-fragment43 {
  display: contents;
}
.privacy-text91 {
  display: inline-block;
}
.privacy-fragment44 {
  display: contents;
}
.privacy-text92 {
  display: inline-block;
}
.privacy-fragment45 {
  display: contents;
}
.privacy-text93 {
  display: inline-block;
}
.privacy-fragment46 {
  display: contents;
}
.privacy-text94 {
  display: inline-block;
}
.privacy-fragment47 {
  display: contents;
}
.privacy-text95 {
  display: inline-block;
}
.privacy-fragment48 {
  display: contents;
}
.privacy-text96 {
  display: inline-block;
}
.privacy-fragment49 {
  display: contents;
}
.privacy-text97 {
  display: inline-block;
}
.privacy-fragment50 {
  display: contents;
}
.privacy-text98 {
  display: inline-block;
}
.privacy-fragment51 {
  display: contents;
}
.privacy-text99 {
  display: inline-block;
}
.privacy-fragment52 {
  display: contents;
}
.privacy-text100 {
  display: inline-block;
}
.privacy-fragment53 {
  display: contents;
}
.privacy-text101 {
  display: inline-block;
}
.privacy-fragment54 {
  display: contents;
}
.privacy-text102 {
  display: inline-block;
}
.privacy-fragment55 {
  display: contents;
}
.privacy-text103 {
  display: inline-block;
}
.privacy-fragment56 {
  display: contents;
}
.privacy-text104 {
  display: inline-block;
}
.privacy-fragment57 {
  display: contents;
}
.privacy-text105 {
  display: inline-block;
}
