.terms-container1 {
  gap: var(--dl-space-space-unit);
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}
.terms-container2 {
  flex: 0 0 auto;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.terms-text101 {
  font-weight: 700;
}
.terms-text107 {
  font-weight: 700;
}
.terms-text111 {
  font-weight: 700;
}
.terms-text128 {
  font-weight: 700;
}
.terms-text153 {
  font-weight: 700;
}
.terms-text156 {
  font-weight: 700;
}
.terms-text159 {
  font-weight: 700;
}
.terms-text162 {
  font-weight: 700;
}
.terms-text165 {
  font-weight: 700;
}
.terms-text169 {
  font-weight: 700;
}
.terms-fragment10 {
  display: contents;
}
.terms-text177 {
  display: inline-block;
}
.terms-fragment11 {
  display: contents;
}
.terms-text178 {
  display: inline-block;
}
.terms-fragment12 {
  display: contents;
}
.terms-text179 {
  display: inline-block;
}
.terms-fragment13 {
  display: contents;
}
.terms-text180 {
  display: inline-block;
}
.terms-fragment14 {
  display: contents;
}
.terms-text181 {
  display: inline-block;
}
.terms-fragment15 {
  display: contents;
}
.terms-text182 {
  display: inline-block;
}
.terms-fragment16 {
  display: contents;
}
.terms-text183 {
  display: inline-block;
}
.terms-fragment17 {
  display: contents;
}
.terms-text184 {
  display: inline-block;
}
.terms-fragment18 {
  display: contents;
}
.terms-text185 {
  display: inline-block;
}
.terms-fragment19 {
  display: contents;
}
.terms-text186 {
  display: inline-block;
}
.terms-fragment20 {
  display: contents;
}
.terms-text187 {
  display: inline-block;
}
.terms-fragment21 {
  display: contents;
}
.terms-text188 {
  display: inline-block;
}
.terms-text189 {
  font-weight: 700;
}
.terms-fragment22 {
  display: contents;
}
.terms-text190 {
  display: inline-block;
}
.terms-text191 {
  font-weight: 700;
}
.terms-fragment23 {
  display: contents;
}
.terms-text192 {
  display: inline-block;
}
.terms-fragment24 {
  display: contents;
}
.terms-text193 {
  display: inline-block;
}
.terms-fragment25 {
  display: contents;
}
.terms-text194 {
  display: inline-block;
}
.terms-fragment26 {
  display: contents;
}
.terms-text195 {
  display: inline-block;
}
.terms-fragment27 {
  display: contents;
}
.terms-text196 {
  display: inline-block;
}
.terms-fragment28 {
  display: contents;
}
.terms-text197 {
  display: inline-block;
}
.terms-text198 {
  font-weight: 700;
}
.terms-fragment29 {
  display: contents;
}
.terms-text199 {
  display: inline-block;
}
.terms-fragment30 {
  display: contents;
}
.terms-text200 {
  display: inline-block;
}
.terms-fragment31 {
  display: contents;
}
.terms-text201 {
  display: inline-block;
}
.terms-text202 {
  font-weight: 700;
}
.terms-fragment32 {
  display: contents;
}
.terms-text203 {
  display: inline-block;
}
.terms-text204 {
  font-weight: 700;
}
.terms-fragment33 {
  display: contents;
}
.terms-text205 {
  display: inline-block;
}
.terms-fragment34 {
  display: contents;
}
.terms-text206 {
  display: inline-block;
}
.terms-text207 {
  font-weight: 700;
}
.terms-fragment35 {
  display: contents;
}
.terms-text208 {
  display: inline-block;
}
.terms-fragment36 {
  display: contents;
}
.terms-text209 {
  display: inline-block;
}
.terms-fragment37 {
  display: contents;
}
.terms-text210 {
  display: inline-block;
}
.terms-fragment38 {
  display: contents;
}
.terms-text211 {
  display: inline-block;
}
.terms-fragment39 {
  display: contents;
}
.terms-text212 {
  display: inline-block;
}
.terms-fragment40 {
  display: contents;
}
.terms-text213 {
  display: inline-block;
}
.terms-text214 {
  font-weight: 700;
}
.terms-fragment41 {
  display: contents;
}
.terms-text215 {
  display: inline-block;
}
.terms-text216 {
  font-weight: 700;
}
.terms-fragment42 {
  display: contents;
}
.terms-text217 {
  display: inline-block;
}
.terms-fragment43 {
  display: contents;
}
.terms-text218 {
  display: inline-block;
}
.terms-fragment44 {
  display: contents;
}
.terms-text219 {
  display: inline-block;
}
.terms-fragment45 {
  display: contents;
}
.terms-text220 {
  display: inline-block;
}
.terms-fragment46 {
  display: contents;
}
.terms-text221 {
  display: inline-block;
}
.terms-fragment47 {
  display: contents;
}
.terms-text222 {
  display: inline-block;
}
.terms-fragment48 {
  display: contents;
}
.terms-text223 {
  display: inline-block;
}
.terms-fragment49 {
  display: contents;
}
.terms-text224 {
  display: inline-block;
}
.terms-fragment50 {
  display: contents;
}
.terms-text225 {
  display: inline-block;
}
.terms-fragment51 {
  display: contents;
}
.terms-text226 {
  display: inline-block;
}
.terms-fragment52 {
  display: contents;
}
.terms-text227 {
  display: inline-block;
}
.terms-fragment53 {
  display: contents;
}
.terms-text228 {
  display: inline-block;
}
.terms-fragment54 {
  display: contents;
}
.terms-text229 {
  display: inline-block;
}
.terms-fragment55 {
  display: contents;
}
.terms-text230 {
  display: inline-block;
}
.terms-fragment56 {
  display: contents;
}
.terms-text231 {
  display: inline-block;
}
.terms-fragment57 {
  display: contents;
}
.terms-text232 {
  display: inline-block;
}
.terms-fragment58 {
  display: contents;
}
.terms-text233 {
  display: inline-block;
}
.terms-fragment59 {
  display: contents;
}
.terms-text234 {
  display: inline-block;
}
.terms-fragment60 {
  display: contents;
}
.terms-text235 {
  display: inline-block;
}
.terms-text236 {
  font-weight: 700;
}
.terms-fragment61 {
  display: contents;
}
.terms-text237 {
  display: inline-block;
}
.terms-fragment62 {
  display: contents;
}
.terms-text238 {
  display: inline-block;
}
.terms-fragment63 {
  display: contents;
}
.terms-text239 {
  display: inline-block;
}
.terms-fragment64 {
  display: contents;
}
.terms-text240 {
  display: inline-block;
}
.terms-fragment65 {
  display: contents;
}
.terms-text241 {
  display: inline-block;
}
.terms-fragment66 {
  display: contents;
}
.terms-text242 {
  display: inline-block;
}
.terms-fragment67 {
  display: contents;
}
.terms-text243 {
  display: inline-block;
}
.terms-fragment68 {
  display: contents;
}
.terms-text244 {
  display: inline-block;
}
.terms-fragment69 {
  display: contents;
}
.terms-text245 {
  display: inline-block;
}
.terms-fragment70 {
  display: contents;
}
.terms-text246 {
  display: inline-block;
}
.terms-fragment71 {
  display: contents;
}
.terms-text247 {
  display: inline-block;
}
.terms-fragment72 {
  display: contents;
}
.terms-text248 {
  display: inline-block;
}
.terms-text249 {
  font-weight: 700;
}
.terms-fragment73 {
  display: contents;
}
.terms-text250 {
  display: inline-block;
}
.terms-fragment74 {
  display: contents;
}
.terms-text251 {
  display: inline-block;
}
.terms-fragment75 {
  display: contents;
}
.terms-text252 {
  display: inline-block;
}
.terms-fragment76 {
  display: contents;
}
.terms-text253 {
  display: inline-block;
}
