<!DOCTYPE html>
<html lang="fr">
  <head>
    <title>Fontom's Portfolio</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta property="twitter:card" content="summary_large_image" />

    <style data-tag="reset-style-sheet">
      html {
        line-height: 1.15;
      }
      body {
        margin: 0;
      }
      * {
        box-sizing: border-box;
        border-width: 0;
        border-style: solid;
      }
      p,
      li,
      ul,
      pre,
      div,
      h1,
      h2,
      h3,
      h4,
      h5,
      h6,
      figure,
      blockquote,
      figcaption {
        margin: 0;
        padding: 0;
      }
      button {
        background-color: transparent;
      }
      button,
      input,
      optgroup,
      select,
      textarea {
        font-family: inherit;
        font-size: 100%;
        line-height: 1.15;
        margin: 0;
      }
      button,
      select {
        text-transform: none;
      }
      button,
      [type="button"],
      [type="reset"],
      [type="submit"] {
        -webkit-appearance: button;
      }
      button::-moz-focus-inner,
      [type="button"]::-moz-focus-inner,
      [type="reset"]::-moz-focus-inner,
      [type="submit"]::-moz-focus-inner {
        border-style: none;
        padding: 0;
      }
      button:-moz-focus,
      [type="button"]:-moz-focus,
      [type="reset"]:-moz-focus,
      [type="submit"]:-moz-focus {
        outline: 1px dotted ButtonText;
      }
      a {
        color: inherit;
        text-decoration: inherit;
      }
      input {
        padding: 2px 4px;
      }
      img {
        display: block;
      }
      html {
        scroll-behavior: smooth;
      }
    </style>
    <style data-tag="default-style-sheet">
      html {
        font-family: Inter;
        font-size: 16px;
      }

      body {
        font-weight: 400;
        font-style: normal;
        text-decoration: none;
        text-transform: none;
        letter-spacing: normal;
        line-height: 1.15;
        color: var(--dl-color-gray-black);
        background: var(--dl-color-gray-white);
      }
    </style>
    <link
      rel="stylesheet"
      href="https://unpkg.com/animate.css@4.1.1/animate.css"
    />
    <link
      rel="shortcut icon"
      href="public/bangarangalt_coach_11.png"
      type="icon/png"
      sizes="32x32"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/@teleporthq/teleport-custom-scripts/dist/style.css"
    />
    <!--This is the head section-->
    <!-- <style> ... </style> -->
  </head>
  <body>
    <link rel="stylesheet" href="../style.css" />
    <div>
      <link href="./terms.css" rel="stylesheet" />
      <div class="terms-container1 thq-section-padding terms">
        <div class="terms-container2">
          <h2>
            <span class="terms-text101">Terms and Conditions</span>
            <fragment class="terms-fragment28">
              <h2 class="terms-text197">
                <span class="terms-text198">Terms and Conditions</span>
              </h2>
            </fragment>
          </h2>
          <p>
            <fragment class="terms-fragment43"></fragment>
          </p>
          <p class="terms-text218">Welcome to fontom.myftp.org!</p>

          <p></p>
          <p>
            <fragment class="terms-fragment52"></fragment>
          </p>
          <p class="terms-text227">
            These terms and conditions outline the rules and regulations for the
            use of Cybercompanion's Website, located at https://fontoms.com.
          </p>

          <p></p>
          <p>
            <fragment class="terms-fragment59"></fragment>
          </p>
          <p class="terms-text234">
            By accessing this website we assume you accept these terms and
            conditions. Do not continue to use fontom.myftp.org if you do not
            agree to take all of the terms and conditions stated on this page.
          </p>

          <p></p>
          <p>
            <fragment class="terms-fragment70"></fragment>
          </p>
          <p class="terms-text246">
            The following terminology applies to these Terms and Conditions,
            Privacy Statement and Disclaimer Notice and all Agreements:
            "Client", "You" and "Your" refers to you, the person log on this
            website and compliant to the Company’s terms and conditions. "The
            Company", "Ourselves", "We", "Our" and "Us", refers to our Company.
            "Party", "Parties", or "Us", refers to both the Client and
            ourselves. All terms refer to the offer, acceptance and
            consideration of payment necessary to undertake the process of our
            assistance to the Client in the most appropriate manner for the
            express purpose of meeting the Client’s needs in respect of
            provision of the Company’s stated services, in accordance with and
            subject to, prevailing law of Netherlands. Any use of the above
            terminology or other words in the singular, plural, capitalization
            and/or he/she or they, are taken as interchangeable and therefore as
            referring to same.
          </p>

          <p></p>
          <h3>
            <span class="terms-text107">Cookies</span>
            <fragment class="terms-fragment41">
              <h3 class="terms-text215">
                <span class="terms-text216">Cookies</span>
              </h3>
            </fragment>
          </h3>
          <p>
            <fragment class="terms-fragment11"></fragment>
          </p>
          <p class="terms-text178">
            We employ the use of cookies. By accessing fontom.myftp.org, you
            agreed to use cookies in agreement with the Cybercompanion's Privacy
            Policy.{" "}
          </p>

          <p></p>
          <p>
            <fragment class="terms-fragment29"></fragment>
          </p>
          <p class="terms-text199">
            Most interactive websites use cookies to let us retrieve the user’s
            details for each visit. Cookies are used by our website to enable
            the functionality of certain areas to make it easier for people
            visiting our website. Some of our affiliate/advertising partners may
            also use cookies.
          </p>

          <p></p>
          <h3>
            <span class="terms-text111">License</span>
            <fragment class="terms-fragment40">
              <h3 class="terms-text213">
                <span class="terms-text214">License</span>
              </h3>
            </fragment>
          </h3>
          <p>
            <fragment class="terms-fragment51"></fragment>
          </p>
          <p class="terms-text226">
            Unless otherwise stated, Cybercompanion and/or its licensors own the
            intellectual property rights for all material on fontom.myftp.org.
            All intellectual property rights are reserved. You may access this
            from fontom.myftp.org for your own personal use subjected to
            restrictions set in these terms and conditions.
          </p>

          <p></p>
          <p>
            <fragment class="terms-fragment50"></fragment>
          </p>
          <p class="terms-text225">You must not:</p>

          <p></p>
          <ul class="list">
            <li class="list-item">
              <span>
                <fragment class="terms-fragment18">
                  <span class="terms-text185">
                    Republish material from fontom.myftp.org
                  </span>
                </fragment>
              </span>
            </li>
            <li class="list-item">
              <span>
                <fragment class="terms-fragment20">
                  <span class="terms-text187">
                    Sell, rent or sub-license material from fontom.myftp.org
                  </span>
                </fragment>
              </span>
            </li>
            <li class="list-item">
              <span>
                <fragment class="terms-fragment42">
                  <span class="terms-text217">
                    Reproduce, duplicate or copy material from fontom.myftp.org
                  </span>
                </fragment>
              </span>
            </li>
            <li class="list-item">
              <span>
                <fragment class="terms-fragment71">
                  <span class="terms-text247">
                    Redistribute content from fontom.myftp.org
                  </span>
                </fragment>
              </span>
            </li>
          </ul>
          <p>
            <fragment class="terms-fragment61"></fragment>
          </p>
          <p class="terms-text237">
            This Agreement shall begin on the date hereof.
          </p>

          <p></p>
          <p>
            <fragment class="terms-fragment49"></fragment>
          </p>
          <p class="terms-text224">
            Parts of this website offer an opportunity for users to post and
            exchange opinions and information in certain areas of the website.
            Cybercompanion does not filter, edit, publish or review Comments
            prior to their presence on the website. Comments do not reflect the
            views and opinions of Cybercompanion,its agents and/or affiliates.
            Comments reflect the views and opinions of the person who post their
            views and opinions. To the extent permitted by applicable laws,
            Cybercompanion shall not be liable for the Comments or for any
            liability, damages or expenses caused and/or suffered as a result of
            any use of and/or posting of and/or appearance of the Comments on
            this website.
          </p>

          <p></p>
          <p>
            <fragment class="terms-fragment14"></fragment>
          </p>
          <p class="terms-text181">
            Cybercompanion reserves the right to monitor all Comments and to
            remove any Comments which can be considered inappropriate, offensive
            or causes breach of these Terms and Conditions.
          </p>

          <p></p>
          <p>
            <fragment class="terms-fragment37"></fragment>
          </p>
          <p class="terms-text210">You warrant and represent that:</p>

          <p></p>
          <ul class="list">
            <li class="list-item">
              <span>
                <fragment class="terms-fragment53">
                  <span class="terms-text228">
                    You are entitled to post the Comments on our website and
                    have all necessary licenses and consents to do so;
                  </span>
                </fragment>
              </span>
            </li>
            <li class="list-item">
              <span>
                <fragment class="terms-fragment76">
                  <span class="terms-text253">
                    The Comments do not invade any intellectual property right,
                    including without limitation copyright, patent or trademark
                    of any third party;
                  </span>
                </fragment>
              </span>
            </li>
            <li class="list-item">
              <span>
                <fragment class="terms-fragment69">
                  <span class="terms-text245">
                    The Comments do not contain any defamatory, libelous,
                    offensive, indecent or otherwise unlawful material which is
                    an invasion of privacy
                  </span>
                </fragment>
              </span>
            </li>
            <li class="list-item">
              <span>
                <fragment class="terms-fragment54">
                  <span class="terms-text229">
                    The Comments will not be used to solicit or promote business
                    or custom or present commercial activities or unlawful
                    activity.
                  </span>
                </fragment>
              </span>
            </li>
          </ul>
          <p>
            <fragment class="terms-fragment16"></fragment>
          </p>
          <p class="terms-text183">
            You hereby grant Cybercompanion a non-exclusive license to use,
            reproduce, edit and authorize others to use, reproduce and edit any
            of your Comments in any and all forms, formats or media.
          </p>

          <p></p>
          <h3>
            <span class="terms-text128">Hyperlinking to our Content</span>
            <fragment class="terms-fragment34">
              <h3 class="terms-text206">
                <span class="terms-text207">Hyperlinking to our Content</span>
              </h3>
            </fragment>
          </h3>
          <p>
            <fragment class="terms-fragment33"></fragment>
          </p>
          <p class="terms-text205">
            The following organizations may link to our Website without prior
            written approval:
          </p>

          <p></p>
          <ul class="list">
            <li class="list-item">
              <span>
                <fragment class="terms-fragment36">
                  <span class="terms-text209">Government agencies;</span>
                </fragment>
              </span>
            </li>
            <li class="list-item">
              <span>
                <fragment class="terms-fragment47">
                  <span class="terms-text222">Search engines;</span>
                </fragment>
              </span>
            </li>
            <li class="list-item">
              <span>
                <fragment class="terms-fragment38">
                  <span class="terms-text211">News organizations;</span>
                </fragment>
              </span>
            </li>
            <li class="list-item">
              <span>
                <fragment class="terms-fragment55">
                  <span class="terms-text230">
                    Online directory distributors may link to our Website in the
                    same manner as they hyperlink to the Websites of other
                    listed businesses; and
                  </span>
                </fragment>
              </span>
            </li>
            <li class="list-item">
              <span>
                <fragment class="terms-fragment46">
                  <span class="terms-text221">
                    System wide Accredited Businesses except soliciting
                    non-profit organizations, charity shopping malls, and
                    charity fundraising groups which may not hyperlink to our
                    Web site.
                  </span>
                </fragment>
              </span>
            </li>
          </ul>
          <p>
            <fragment class="terms-fragment17"></fragment>
          </p>
          <p class="terms-text184">
            These organizations may link to our home page, to publications or to
            other Website information so long as the link: (a) is not in any way
            deceptive; (b) does not falsely imply sponsorship, endorsement or
            approval of the linking party and its products and/or services; and
            (c) fits within the context of the linking party’s site.
          </p>

          <p></p>
          <p>
            <fragment class="terms-fragment48"></fragment>
          </p>
          <p class="terms-text223">
            We may consider and approve other link requests from the following
            types of organizations:
          </p>

          <p></p>
          <ul class="list">
            <li class="list-item">
              <span>
                <fragment class="terms-fragment58">
                  <span class="terms-text233">
                    commonly-known consumer and/or business information sources;
                  </span>
                </fragment>
              </span>
            </li>
            <li class="list-item">
              <span>
                <fragment class="terms-fragment15">
                  <span class="terms-text182">dot.com community sites;</span>
                </fragment>
              </span>
            </li>
            <li class="list-item">
              <span>
                <fragment class="terms-fragment10">
                  <span class="terms-text177">
                    associations or other groups representing charities;
                  </span>
                </fragment>
              </span>
            </li>
            <li class="list-item">
              <span>
                <fragment class="terms-fragment66">
                  <span class="terms-text242">
                    online directory distributors;
                  </span>
                </fragment>
              </span>
            </li>
            <li class="list-item">
              <span>
                <fragment class="terms-fragment35">
                  <span class="terms-text208">internet portals;</span>
                </fragment>
              </span>
            </li>
            <li class="list-item">
              <span>
                <fragment class="terms-fragment67">
                  <span class="terms-text243">
                    accounting, law and consulting firms; and
                  </span>
                </fragment>
              </span>
            </li>
            <li class="list-item">
              <span>
                <fragment class="terms-fragment57">
                  <span class="terms-text232">
                    educational institutions and trade associations.
                  </span>
                </fragment>
              </span>
            </li>
          </ul>
          <p>
            <fragment class="terms-fragment19"></fragment>
          </p>
          <p class="terms-text186">
            We will approve link requests from these organizations if we decide
            that: (a) the link would not make us look unfavorably to ourselves
            or to our accredited businesses; (b) the organization does not have
            any negative records with us; (c) the benefit to us from the
            visibility of the hyperlink compensates the absence of
            Cybercompanion; and (d) the link is in the context of general
            resource information.
          </p>

          <p></p>
          <p>
            <fragment class="terms-fragment75"></fragment>
          </p>
          <p class="terms-text252">
            These organizations may link to our home page so long as the link:
            (a) is not in any way deceptive; (b) does not falsely imply
            sponsorship, endorsement or approval of the linking party and its
            products or services; and (c) fits within the context of the linking
            party’s site.
          </p>

          <p></p>
          <p>
            <fragment class="terms-fragment30"></fragment>
          </p>
          <p class="terms-text200">
            If you are one of the organizations listed in paragraph 2 above and
            are interested in linking to our website, you must inform us by
            sending an e-mail to Cybercompanion. Please include your name, your
            organization name, contact information as well as the URL of your
            site, a list of any URLs from which you intend to link to our
            Website, and a list of the URLs on our site to which you would like
            to link. Wait 2-3 weeks for a response.
          </p>

          <p></p>
          <p>
            <fragment class="terms-fragment13"></fragment>
          </p>
          <p class="terms-text180">
            Approved organizations may hyperlink to our Website as follows:
          </p>

          <p></p>
          <ul class="list">
            <li class="list-item">
              <span>
                <fragment class="terms-fragment39">
                  <span class="terms-text212">
                    By use of our corporate name; or
                  </span>
                </fragment>
              </span>
            </li>
            <li class="list-item">
              <span>
                <fragment class="terms-fragment65">
                  <span class="terms-text241">
                    By use of the uniform resource locator being linked to; or
                  </span>
                </fragment>
              </span>
            </li>
            <li class="list-item">
              <span>
                <fragment class="terms-fragment56">
                  <span class="terms-text231">
                    By use of any other description of our Website being linked
                    to that makes sense within the context and format of content
                    on the linking party’s site.
                  </span>
                </fragment>
              </span>
            </li>
          </ul>
          <p>
            <fragment class="terms-fragment23"></fragment>
          </p>
          <p class="terms-text192">
            No use of Cybercompanion's logo or other artwork will be allowed for
            linking absent a trademark license agreement.
          </p>

          <p></p>
          <h3>
            <span class="terms-text153">iFrames</span>
            <fragment class="terms-fragment31">
              <h3 class="terms-text201">
                <span class="terms-text202">iFrames</span>
              </h3>
            </fragment>
          </h3>
          <p>
            <fragment class="terms-fragment73"></fragment>
          </p>
          <p class="terms-text250">
            Without prior approval and written permission, you may not create
            frames around our Webpages that alter in any way the visual
            presentation or appearance of our Website.
          </p>

          <p></p>
          <h3>
            <span class="terms-text156">Content Liability</span>
            <fragment class="terms-fragment32">
              <h3 class="terms-text203">
                <span class="terms-text204">Content Liability</span>
              </h3>
            </fragment>
          </h3>
          <p>
            <fragment class="terms-fragment27"></fragment>
          </p>
          <p class="terms-text196">
            We shall not be hold responsible for any content that appears on
            your Website. You agree to protect and defend us against all claims
            that is rising on your Website. No link(s) should appear on any
            Website that may be interpreted as libelous, obscene or criminal, or
            which infringes, otherwise violates, or advocates the infringement
            or other violation of, any third party rights.
          </p>

          <p></p>
          <h3>
            <span class="terms-text159">Your Privacy</span>
            <fragment class="terms-fragment72">
              <h3 class="terms-text248">
                <span class="terms-text249">Your Privacy</span>
              </h3>
            </fragment>
          </h3>
          <p>
            <fragment class="terms-fragment64"></fragment>
          </p>
          <p class="terms-text240">Please read Privacy Policy</p>

          <p></p>
          <h3>
            <span class="terms-text162">Reservation of Rights</span>
            <fragment class="terms-fragment60">
              <h3 class="terms-text235">
                <span class="terms-text236">Reservation of Rights</span>
              </h3>
            </fragment>
          </h3>
          <p>
            <fragment class="terms-fragment68"></fragment>
          </p>
          <p class="terms-text244">
            We reserve the right to request that you remove all links or any
            particular link to our Website. You approve to immediately remove
            all links to our Website upon request. We also reserve the right to
            amen these terms and conditions and it’s linking policy at any time.
            By continuously linking to our Website, you agree to be bound to and
            follow these linking terms and conditions.
          </p>

          <p></p>
          <h3>
            <span class="terms-text165">Removal of links from our website</span>
            <fragment class="terms-fragment22">
              <h3 class="terms-text190">
                <span class="terms-text191">
                  Removal of links from our website
                </span>
              </h3>
            </fragment>
          </h3>
          <p>
            <fragment class="terms-fragment45"></fragment>
          </p>
          <p class="terms-text220">
            If you find any link on our Website that is offensive for any
            reason, you are free to contact and inform us any moment. We will
            consider requests to remove links but we are not obligated to or so
            or to respond to you directly.
          </p>

          <p></p>
          <p>
            <fragment class="terms-fragment12"></fragment>
          </p>
          <p class="terms-text179">
            We do not ensure that the information on this website is correct, we
            do not warrant its completeness or accuracy; nor do we promise to
            ensure that the website remains available or that the material on
            the website is kept up to date.
          </p>

          <p></p>
          <h3>
            <span class="terms-text169">Disclaimer</span>
            <fragment class="terms-fragment21">
              <h3 class="terms-text188">
                <span class="terms-text189">Disclaimer</span>
              </h3>
            </fragment>
          </h3>
          <p>
            <fragment class="terms-fragment26"></fragment>
          </p>
          <p class="terms-text195">
            To the maximum extent permitted by applicable law, we exclude all
            representations, warranties and conditions relating to our website
            and the use of this website. Nothing in this disclaimer will:
          </p>

          <p></p>
          <ul class="list">
            <li class="list-item">
              <span>
                <fragment class="terms-fragment44">
                  <span class="terms-text219">
                    limit or exclude our or your liability for death or personal
                    injury;
                  </span>
                </fragment>
              </span>
            </li>
            <li class="list-item">
              <span>
                <fragment class="terms-fragment24">
                  <span class="terms-text193">
                    limit or exclude our or your liability for fraud or
                    fraudulent misrepresentation;
                  </span>
                </fragment>
              </span>
            </li>
            <li class="list-item">
              <span>
                <fragment class="terms-fragment25">
                  <span class="terms-text194">
                    limit any of our or your liabilities in any way that is not
                    permitted under applicable law; or
                  </span>
                </fragment>
              </span>
            </li>
            <li class="list-item">
              <span>
                <fragment class="terms-fragment74">
                  <span class="terms-text251">
                    exclude any of our or your liabilities that may not be
                    excluded under applicable law.
                  </span>
                </fragment>
              </span>
            </li>
          </ul>
          <p>
            <fragment class="terms-fragment63"></fragment>
          </p>
          <p class="terms-text239">
            The limitations and prohibitions of liability set in this Section
            and elsewhere in this disclaimer: (a) are subject to the preceding
            paragraph; and (b) govern all liabilities arising under the
            disclaimer, including liabilities arising in contract, in tort and
            for breach of statutory duty.
          </p>

          <p></p>
          <p>
            <fragment class="terms-fragment62"></fragment>
          </p>
          <p class="terms-text238">
            As long as the website and the information and services on the
            website are provided free of charge, we will not be liable for any
            loss or damage of any nature.
          </p>

          <p></p>
        </div>
      </div>
    </div>
    <script
      data-section-id="navbar"
      src="https://unpkg.com/@teleporthq/teleport-custom-scripts"
    ></script>
  </body>
</html>
